
<ul class="breadcrumb">
                    <li><a href="#">Home</a></li>                    
                    <li><a href="<?= $this->getBaseUrl()?>/admin/viewsubcategory">Sub-Category List</a></li>
                    <li class="active">add subcategory</li>
                </ul>
                <!-- END BREADCRUMB -->
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                
                    <div class="row">
                        <div class="col-md-12">
                            
                            <form class="form-horizontal"  method="post" action="">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Add Sub</strong> Categories</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <p>Add a new sub category under any category</p>
                                </div>
                                <div class="panel-body">                                                                        
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Sub Catetory Name</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input type="text" name='sub_category_name' class="form-control"/>
                                            </div>                                            
                                            
                                        </div>
                                    </div>

                                   <!--  <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Category Title</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input type="text" name='title' class="form-control" 
                                                 />  
                                            </div>                                            
                        
                                        </div>
                                    </div> -->
                                    
                                  
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Description*</label>
                                        <div class="col-md-6 col-xs-12"> 
                                        
                                            <textarea  name='description' class="form-control" rows="5"></textarea>
                                           
                                        </div>
                                    </div>
                                  
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Parent Category</label>
                                        <div class="col-md-6 col-xs-12">                                                                                            
                                            <select name='parent_set' class="form-control select">
                                             <option >--Select Category--</option>  
                                             <?php foreach($this->dataSet as $key => $value )
                                             {
                                            
                                             ?>
                                                <option value=<?php echo "'" . $value['id']."'" ?> ><?= $value['category_name'] ?></option>
                                               
                                                 <?php  
                                                 } ?>
                                            </select>
                                            <span class="help-block">Select box example</span>
                                        </div>
                                    </div>
                                  
                                <div class="panel-footer">
                                    <button class="btn btn-default">Clear Form</button>                                    
                                    <button class="btn btn-primary pull-right">Submit</button>
                                </div>
                            </div>
                            </form>
                            
                            
                        </div>
                    </div>                    
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->   