<?php
//dd($this->dataSet);
?>
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Admin</a></li>                    
                    <li><a href="<?= $this->getBaseUrl()?>/admin/brands">Brands</a></li>
                    <li class="active">List Brands</li>
                </ul>
                <!-- END BREADCRUMB -->

                <!-- PAGE TITLE -->
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Brands</h2>
                </div>
                <!-- END PAGE TITLE -->                

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">                
                
                    <div class="row">
                        <div class="col-md-12">

                            <!-- START DEFAULT DATATABLE -->
                            <div class="panel panel-default">
                                <div class="panel-heading">                                
                                    <h3 class="panel-title">List</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>                                
                                </div>
                                <div class="panel-body">
                                    <table class="table datatable">
                                        <thead>
                                            <tr>
                                                <th>Brand Name</th>
                                                <th>Brand Description</th>
                                                <th>Created At</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                             <?php foreach($this->dataSet['brands'] as $key => $value )
                                             { ?>
                                            <tr>
                                                <td><?= $value['brand_name'] ?></td>
                                                <td><?= $value['description'] ?></td>
                                                <td><?= date('d-m-Y',$value['created_at']) ?></td>
                                               
                                            </tr>
                                           <?php  } ?>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END DEFAULT DATATABLE -->

                           

                        </div>
                    </div>                                
                    
                </div>
                <!-- PAGE CONTENT WRAPPER -->                      