<link rel="stylesheet" type="text/css" href="<?= $this->getBaseUrl() ?>/www/css/stylepop.css">   

                <!-- START BREADCRUMB -->
                
                <!-- END BREADCRUMB -->                       
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    
                    <!-- START WIDGETS -->                    
                    <div class="row">
                        <div class="col-md-12">
                            
                            <!-- START WIDGET SLIDER -->
                            <div class="widget widget-default widget-carousel">
                                <div class="owl-carousel" id="owl-example">
                                  <h1>Welcome To Vintage Home</h1>  
                                </div>                            
                                                             
                            </div>         
                            <!-- END WIDGET SLIDER -->
                            
                        </div>
                                                
                            <!-- END WIDGET CLOCK -->
                            
                        </div>
                    </div>
                    <!-- END WIDGETS -->                    
                    
                    
                    
                    <!-- START DASHBOARD CHART -->
                                        
                    <!-- END DASHBOARD CHART -->
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->   






           