

<ul class="breadcrumb">
                    <li><a href="#">Home</a></li>                    
                    <li><a href="<?= $this->getBaseUrl()?>/admin/viewcategory">Categories List</a></li>
                    <li class="active">Manage Category</li>
                </ul>
                <!-- END BREADCRUMB -->
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                
                    <div class="row">
                        <div class="col-md-12">
                            
                            <form class="form-horizontal"  method="post"  enctype="multipart/form-data" action=" " >
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Add Main</strong> Category</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>

                                <div class="panel-body">                                                                        
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">News Title</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input type="text" name='category_name' class="form-control"  value="<?= isset($this->edit_detail) ? $this->edit_detail['title'] : '' ?>" />         
                                            </div>                                            
                        
                                        </div>
                                    </div>
                                       <div class="panel-body">
                                    <div class="form-group" >
    

                                        <label class="col-md-3 col-xs-12 control-label">Browse Image</label>
                                        <div class="col-md-6 col-xs-12">                                                                                            
                                             <input type="file" class="fileinput btn-primary" name="post_image"  accept="image/*" id="filename3" data-filename-placement="inside" title="Browse"/>
                                        </div>
                                    </div>
                                    
                                </div>

                                    
                                
                                    
                                  
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Description*</label>
                                        <div class="col-md-6 col-xs-12"> 
                                        
                                            <textarea  name='description' class="summernote" rows="3" >
                                                       <?= isset($this->edit_detail) ? $this->edit_detail['description'] : '' ?></textarea>
                        
                                        </div>
                                    </div>
                                      <div class="form-group" id="category_div">
                                        <label class="col-md-3 col-xs-12 control-label">Parent Category</label>
                                        <div class="col-md-6 col-xs-12">                                                                                            
                                            <select name='parent_set' class="form-control select">
                                             <option value="0">--Select Category--</option>  
                                             <?php foreach($this->dataSet as $key => $value )
                                             {
                                            
                                             ?>
                                                <option value=<?php echo "'" . $value['id']."'" ?>  <?= isset($this->cat) && $this->cat['id'] == $value['id']  ? 'selected' : '' ?> ><?= $value['category_name'] ?></option>
                                               
                                                 <?php  
                                                 } ?>
                                            </select>
                                            <span class="help-block">Select box example</span>
                                        </div>
                                    </div>
                                    
                                   
                                    
                                    
                                  
                                <div class="panel-footer" style=" margin-top: 100px;">
                                    <button class="btn btn-default">Clear Form</button>                                    
                                    <button class="btn btn-primary pull-right">Submit</button>
                                </div>
                            </div>
                            </form>
                            
                        </div>
                    </div>                    
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->   