


<ul class="breadcrumb">
                    <li><a href="#">Home</a></li>                    
                    <li><a href="<?= $this->getBaseUrl()?>/admin/viewcategory">Categories List</a></li>
                    <li class="active">Manage Category</li>
                </ul>
                <!-- END BREADCRUMB -->
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                
                    <div class="row">
                        <div class="col-md-12">
                            
                            <form class="form-horizontal"  method="post" >
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Add Main</strong> Category</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    
                                </div>
                                <div class="panel-body">                                                                        
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Category Name</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input type="text" name='category_name' class="form-control" 
                                                       value="<?= isset($this->dataSet['categoryData']) ? $this->dataSet['categoryData']['category_name'] : '' ?>"
                                                        />  
                                            </div>                                            
                        
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Category Title</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input type="text" name='title' class="form-control" 
                                                       value="<?= isset($this->dataSet['categoryData']) ? $this->dataSet['categoryData']['title'] : '' ?>"
                                                        />  
                                            </div>                                            
                        
                                        </div>
                                    </div>

                                    
                                    
                                  
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Description*</label>
                                        <div class="col-md-6 col-xs-12"> 
                                        
                                            <textarea  name='description' class="summernote" rows="3" >
                                                       <?= isset($this->dataSet['categoryData']) ? $this->dataSet['categoryData']['description'] : '' ?></textarea>
                        
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Meta Tags</label>
                                        <div class="col-md-6 col-xs-12">                                                                                            
                                            <input type="text" class="tagsinput" name=''  value=""/>
                                            <span class="help-block">Enter the tags used for searching</span>
                                        </div>
                                    </div>
                                    
                                    
                                  
                                <div class="panel-footer">
                                    <button class="btn btn-default">Clear Form</button>                                    
                                    <button class="btn btn-primary pull-right">Submit</button>
                                </div>
                            </div>
                            </form>
                            
                        </div>
                    </div>                    
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->   