<link href="<?= $this->getBaseUrl() ?>/www/css/default-theme.css" type="text/css" rel="stylesheet"/>
<ul class="breadcrumb">
    <li><a href="#">Admin</a></li>
    <li><a href="<?= $this->getBaseUrl()?>/admin/viewproducts">Products</a></li>
    <li class="active">Add Product</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal" method="post" name="uploadProduct" enctype="multipart/form-data">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Add new Products</strong></h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <p>Add Products , choose the category of the product and add to the category</p>
                    </div>
                    <div class="panel-body">    
                        <div class="row">

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-3 control-label"> Name</label>
                                    <div class="col-md-9">                                            
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" name="name" value="<?= isset($this->edit_detail) ? $this->edit_detail['name'] : '' ?>" class="form-control"/>
                                        </div>                                            
                                        <span class="help-block">Enter name</span>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Designation</label>
                                    <div class="col-md-9">                                            
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" name="designation" value="<?= isset($this->edit_detail) ? $this->edit_detail['designation'] : '' ?>" class="form-control"/>
                                        </div> 
                                        <span class="help-block">Enter designation</span>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Category</label>
                                    <div class="col-md-9">                                                                                            
                                        <select class="form-control select" data-live-search="true" name="category_id">
                                            <?php foreach($this->dataSet['categoryData'] as $key => $value )
                                            {
                                            
                                                  $parent_id= $value['parent_id'];
                                                   $parent_name= 'HEADER';
                                                  foreach($this->dataSet['categoryData'] as $key1 => $value1 )
                                                  {
                                                    if($value1['id']==$parent_id )
                                                    {
                                                    $parent_name= $value1['category_name'];
                                                    }
                                                  } 
                                            ?>  
                                             <option value=<?php echo "'" . $value['id']."'" ?>
                                                               <?= isset($this->cat) && $this->cat['id'] == $value['id']  ? 'selected' : '' ?> >
                                                               <?= $value['category_name'] ?><span style="font-weight:bold"> <?php echo ' - in - ('.$parent_name.')' ?></span></option>
                                            <?php 
                                            } ?>
                                        </select>
                                        <span class="help-block">Select product category</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Off Cont NO.</label>
                                    <div class="col-md-9">                                                                                            
                                        <input type="text" value="<?= isset($this->edit_detail) ? $this->edit_detail['officeCont'] : '' ?>" name="office" class="form-control"/>
                                        <span class="help-block">Res Cont no. </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Res Cont no.</label>
                                    <div class="col-md-9">                                                                                            
                                        <input type="text" value="<?= isset($this->edit_detail) ? $this->edit_detail['resCont'] : '' ?>" name="residence" class="form-control"/>
                                        <span class="help-block">Enter Contact_no </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Fax</label>
                                    <div class="col-md-9">                                                                                            
                                        <input type="text" value="<?= isset($this->edit_detail) ? $this->edit_detail['fax'] : '' ?>" name="fax" class="form-control"/>
                                        <span class="help-block">Enter Fax </span>
                                    </div>
                                </div>
                                <div class="col-md-9 col-md-offset-3"> 
                                <div class="btn-group">
                                    <input type="file" class="fileinput btn-primary" name="post_image"  accept="image/*" id="filename3" data-filename-placement="inside" title="Browse"/>
                                
                                    <!--<button class="btn btn-primary"><span class="fa fa-trash-o"></span> Delete</button>-->
                                </div>
                                </div>
                                
                            </div>
                            <div class="col-md-6">

                               <!--  <div class="form-group">
                                    <label class="col-md-3 control-label">Category</label>
                                    <div class="col-md-9">                                                                                            
                                        <select class="form-control select" data-live-search="true" name="category_id">
                                            <?php foreach($this->dataSet['categoryData'] as $key => $value )
                                            {
                                            
                                                  $parent_id= $value['parent_id'];
                                                   $parent_name= 'HEADER';
                                                  foreach($this->dataSet['categoryData'] as $key1 => $value1 )
                                                  {
                                                    if($value1['id']==$parent_id )
                                                    {
                                                    $parent_name= $value1['category_name'];
                                                    }
                                                  } 
                                            ?>  
                                            <option value=<?php echo "'" . $value['id']."'" ?>
                                                    <?= isset($this->edit_detail) && $this->edit_detail['category_id'] == $value['id']  ? 'selected' : '' ?> >
                                                    <?= $value['category_name'] ?><span style="font-weight:bold"> <?php echo ' - in - ('.$parent_name.')' ?></span></option>

                                            <?php 
                                            } ?>
                                        </select>
                                        <span class="help-block">Select product category</span>
                                    </div>
                                </div>
                                --><!--  <div class="form-group">
                                    <label class="col-md-3 control-label">Brand</label>
                                    <div class="col-md-9">                                                                                            
                                        <select class="form-control select" data-live-search="true" name="brand_id">
                                         <?php foreach($this->dataSet['brands'] as $key => $value )
                                            {
                                           
                                            ?>  
                                            <option value=<?php echo "'" . $value['id']."'" ?> <?= isset($this->edit_detail) && $this->edit_detail['brand_id'] == $value['id']  ? 'selected' : '' ?>
                                             ><?= $value['brand_name'] ?></option>

                                            <?php 
                                            } ?>
                                        </select>
                                        <span class="help-block">Select product brand</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Features</label>
                                    <div class="col-md-9 col-xs-12">                                                                                            
                                        <input type="text" class="tagsinput" name="features" value="<?= isset($this->edit_detail) ? $this->edit_detail['features'] : '' ?>" />
                                        <span class="help-block">Enter the product features</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Meta Tags</label>
                                    <div class="col-md-9">                                                                                            
                                        <input type="text" class="tagsinput" name="tags" value="<?= isset($this->edit_detail) ? $this->edit_detail['tags'] : '' ?>" />
                                        <span class="help-block">Enter the tags used for searching</span>
                                    </div>
                                </div>

                            </div>
 -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Off Add.</label>
                                    <div class="col-md-9">                                                                                            
                                        <input type="text" value="<?= isset($this->edit_detail) ? $this->edit_detail['officeadd'] : '' ?>" name="officeadd" class="form-control"/>
                                        <span class="help-block">off Add. </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Res Add.</label>
                                    <div class="col-md-9">                                                                                            
                                        <input type="text" value="<?= isset($this->edit_detail) ? $this->edit_detail['resadd'] : '' ?>" name="residenceadd" class="form-control"/>
                                        <span class="help-block">Enter Res Add </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">                                                                                            
                                        <input type="text" value="<?= isset($this->edit_detail) ? $this->edit_detail['email'] : '' ?>" name="email" class="form-control"/>
                                        <span class="help-block">Enter email </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Details</label>
                                    <div class="col-md-9 col-xs-12">                                            
                                        <textarea name="details" class="summernote" rows="5"><?= isset($this->edit_detail) ? $this->edit_detail['details'] : '' ?></textarea>
                                        <span class="help-block">Enter the deatails</span>

                                    </div>
                                </div>
                                
                            </div>
                            <!-- <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-1 control-label">Overview</label>
                                    <div class="col-md-11 col-xs-12">                                            
                                        <textarea name="overview" class="summernote" rows="5"><?= isset($this->edit_detail) ? $this->edit_detail['overview'] : '' ?></textarea>
                                        <span class="help-block">Enter the overview</span>

                                    </div>
                                </div>
                            </div>
 -->
                        </div>
                    </div>   
                    <div class="panel-footer">
                        <button class="btn btn-default">Clear Form</button>                                    
                        <button class="btn btn-primary pull-right">Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>                    

</div>
