
<link href="<?= $this->getBaseUrl() ?>/www/css/default-theme.css" type="text/css" rel="stylesheet"/>
<ul class="breadcrumb">
    <li><a href="#">Admin</a></li>
    <li><a href="<?= $this->getBaseUrl()?>/admin/viewproducts">Products</a></li>
    <li class="active">Add Product</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal" method="post" name="uploadProduct" action=" " enctype="multipart/form-data">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Add new Products</strong></h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <p>Add Products , choose the category of the product and add to the category</p>
                    </div>
                    <div class="panel-body">    
                        <div class="row">

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-3 control-label"> Name</label>
                                    <div class="col-md-9">                                            
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" name="name" value="<?= isset($this->edit_detail) ? $this->edit_detail['name'] : '' ?>" class="form-control"/>
                                        </div>                                            
                                        <span class="help-block">Enter name</span>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-3 control-label">D O B</label>
                                    <div class="col-md-9">                                            
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" name="dob" value="<?= isset($this->edit_detail) ?  $this->edit_detail['d_o_b'] : '' ?>" class="form-control"/>
                                        </div> 
                                        <span class="help-block">Enter date of birth</span>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Category</label>
                                    <div class="col-md-9">                                                                                            
                                        <select class="form-control select" data-live-search="true" name="category_id">
                                            <option >select</option>
                                            <?php foreach($this->dataSet['categoryData'] as $key => $value )
                                            {
                                            
                                                  $parent_id= $value['parent_id'];
                                                   $parent_name= 'HEADER';
                                                  foreach($this->dataSet['categoryData'] as $key1 => $value1 )
                                                  {
                                                    if($value1['id']==$parent_id )
                                                    {
                                                    $parent_name= $value1['category_name'];
                                                    }
                                                  } 
                                            ?>  
                                             <option value=<?php echo "'" . $value['id']."'" ?>
                                                               <?= isset($this->cat) && $this->cat['id'] == $value['id']  ? 'selected' : '' ?> >
                                                               <?= $value['category_name'] ?><span style="font-weight:bold"> <?php echo ' - in - ('.$parent_name.')' ?></span></option>

                                            <?php 
                                            } ?>
                                        </select>
                                        <span class="help-block">Select category</span>
                                    </div>
                                </div>
                                <div id="off-add">
                                     <div class="form-group">
                                    <label class="col-md-3 control-label">Off Add.</label>
                                    <div class="col-md-9">                                                                                            
                                        <input type="text" value="<?= isset($this->edit_detail) ?  $this->edit_detail['office_add'] : '' ?>" name="off_add" class="form-control"/>
                                        <span class="help-block">off Add. </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Off Cont NO.</label>
                                    <div class="col-md-9">                                                                                            
                                        <input type="text" value="<?= isset($this->edit_detail) ? $this->edit_detail['office_cont'] : '' ?>" name="off_cont" class="form-control"/>
                                        <span class="help-block">off Cont no. </span>
                                    </div>
                                </div>
                              
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Office Fax</label>
                                    <div class="col-md-9">                                                                                            
                                        <input type="text" value="<?= isset($this->edit_detail) ?  $this->edit_detail['office_fax'] : '' ?>" name="off_fax" class="form-control"/>
                                        <span class="help-block">Enter Fax </span>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <input type="file" class="fileinput btn-primary" name="post_image"  accept="image/*" id="filename3" data-filename-placement="inside" title="Browse"/>
                                
                                    <!--<button class="btn btn-primary"><span class="fa fa-trash-o"></span> Delete</button>-->
                                </div>
                                
                            </div>
                            </div>
                            <div class="col-md-6">

                              
                            <div class="col-md-12">
                                <div class="form-group" style="display:none">
                                 <div class="col-md-9 col-md-offset-3">
                                  <button class="btn btn-default" id="office_btn">add office address</button>
                                </div>
                                </div>
 
                               <div id="res_add" >
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Res Add.</label>
                                    <div class="col-md-9">                                                                                            
                                        <input type="text" value="<?= isset($this->edit_detail) ?  $this->edit_detail['res_add'] : '' ?>" name="res_add" class="form-control"/>
                                        <span class="help-block">Enter Res Add </span>
                                    </div>
                                </div>
                                  <div class="form-group">
                                    <label class="col-md-3 control-label">Res Cont no.</label>
                                    <div class="col-md-9">                                                                                            
                                        <input type="text" value="<?= isset($this->edit_detail) ?  $this->edit_detail['res_cont'] : '' ?>" name="res_cont" class="form-control"/>
                                        <span class="help-block">Enter Contact_no </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">res Fax</label>
                                    <div class="col-md-9">                                                                                            
                                        <input type="text" value="<?= isset($this->edit_detail) ?  $this->edit_detail['res_fax'] : '' ?>" name="res_fax" class="form-control"/>
                                        <span class="help-block">Enter Fax </span>
                                    </div>
                                </div>
                            </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">                                                                                            
                                        <input type="text" value="<?= isset($this->edit_detail) ?  $this->edit_detail['email'] : '' ?>" name="email" class="form-control"/>
                                        <span class="help-block">Enter email </span>
                                    </div>
                                </div>
                                   <div class="form-group">
                                    <label class="col-md-3 control-label">Party</label>
                                    <div class="col-md-9">                                                                                            
                                        <input type="text" value="<?= isset($this->edit_detail) ?  $this->edit_detail['party'] : '' ?>" name="party" class="form-control"/>
                                        <span class="help-block">Enter party </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">State</label>
                                    <div class="col-md-9">                                                                                            
                                        <input type="text" value="<?= isset($this->edit_detail) ?  $this->edit_detail['party'] : '' ?>" name="state" class="form-control"/>
                                        <span class="help-block">Enter state </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Details</label>
                                    <div class="col-md-9 col-xs-12">                                            
                                        <textarea name="details" class="summernote" rows="5" value="<?= isset($this->edit_detail) ?  $this->edit_detail['party'] : '' ?>"></textarea>
                                        <span class="help-block">Enter the deatails</span>

                                    </div>
                                </div>
                                
                            </div>
                            <!-- <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-1 control-label">Overview</label>
                                    <div class="col-md-11 col-xs-12">                                            
                                        <textarea name="overview" class="summernote" rows="5"><?= isset($this->edit_detail) ? $this->dataSet['productData']['overview'] : '' ?></textarea>
                                        <span class="help-block">Enter the overview</span>

                                    </div>
                                </div>
                            </div>
 -->
                        </div>
                    </div>   
                    <div class="panel-footer">
                        <button class="btn btn-default">Clear Form</button>                                    
                        <button class="btn btn-primary pull-right">Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>                    

</div>
<script>
$(document).ready(function(){
    $("#res_btn").click(function(){
        $("#res_btn").hide();
        $("#res_add").show();

    });

});
</script>

