


<ul class="breadcrumb">
                    <li><a href="#">Admin</a></li>
                    <li><a href="<?= $this->getBaseUrl()?>/admin/brands">users</a></li>
                    <li class="active">add users</li>
                </ul>
                <!-- END BREADCRUMB -->
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                
                    <div class="row">
                        <div class="col-md-12">
                            
                            <form class="form-horizontal"  method="post" action=" " >
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Add</strong> Users</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>
                               
                                <div class="panel-body">  
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Name</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div >
                                                <!-- <span class="input-group-addon"><span class="fa fa-pencil"></span></span> -->
                                                <input type="text" name='name' class="form-control" required />
                                            </div>                                            
                                            <span class="help-block">Enter the user name</span>
                                        </div>
                                    </div>
                                    
                                  
                                    <div class="form-group">
                                       <label class="col-md-3 col-xs-12 control-label">Email</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div >
                                                <!-- <span class="input-group-addon"><span class="fa fa-pencil"></span></span> -->
                                                <input type="text" name='email' class="form-control" required />
                                            </div>                                            
                                            <span class="help-block">Enter the user email</span>
                                        </div>
                                    </div>
                                      <div class="form-group">
                                       <label class="col-md-3 col-xs-12 control-label">Password</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div >
                                                <!-- <span class="input-group-addon"><span class="fa fa-pencil"></span></span> -->
                                                <input type="text" name='password' class="form-control" required />
                                            </div>                                            
                                            <span class="help-block">Enter password</span>
                                        </div>
                                    </div>
                                      <div class="form-group">
                                       <label class="col-md-3 col-xs-12 control-label">Phone</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div >
                                                <!-- <span class="input-group-addon"><span class="fa fa-pencil"></span></span> -->
                                                <input type="text" name='phone' class="form-control" required />
                                            </div>                                            
                                            <span class="help-block">Enter phone</span>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                   <!--  <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Meta Tags</label>
                                        <div class="col-md-6 col-xs-12">                                                                                            
                                            <input type="text" class="tagsinput" name=''  value=""/>
                                            <span class="help-block">Enter the tags used for searching</span>
                                        </div>
                                    </div>
                                     -->
                                    
                                <div class="panel-footer">
                                    <button class="btn btn-default">Clear Form</button>                                    
                                    <button class="btn btn-primary pull-right">Submit</button>
                                </div>
                            </div>
                            </form>
                            
                        </div>
                    </div>                    
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->   