
<ul class="breadcrumb">
    <li><a href="#">Admin</a></li>                    
   <li><a href="<?= $this->getBaseUrl()?>/admin/view-portfolios">Portfolios</a></li>
    <li class="active">Portfolio Details</li>
</ul>

<div class="page-content-wrap">                

    <div class="row">
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="timeline-item-content">
                     <?php foreach($this->dataSet['portfolioData'] as $key => $value) { ?>
                        <div class="col-md-6">                                     
                            <div class="timeline-body comments">
                                <div class="comment-item">
                                    <p class="comment-head">
                                        Portfolio Name
                                    </p>
                                    <p><?= $value['name']; ?></p>
                                </div>                                            
                                <div class="comment-item">
                                    <p class="comment-head">
                                        Pertfolio Title
                                    </p>
                                    <p><?= $value['title'] ?></p>
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-6" >                                     
                            <div class="timeline-body comments">
                                 <div class="comment-item">
                                    <p class="comment-head">
                                        Description
                                    </p>
                                    <p><?= $value['description'] ?></p>
                                </div> 
                            </div>
                        </div>
                      <?php } ?> 
                        
                    </div>  


                </div>
                <!-- END DEFAULT DATATABLE -->

            </div>

        </div>    
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">                                
                    <h3 class="panel-title">Portfolio Images</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>                                
                </div>
                <div class="panel-body">
                    <div class="content-frame-body content-frame-body-left" style="height: 933px;">

                        <div class="pull-left push-up-10">
                        </div>
                        <div class="pull-right push-up-10">
                            <form method="POST" name="uploadImage"  enctype="multipart/form-data">
                                <div class="btn-group">
                                    <input type="file" class="fileinput btn-primary" name="post_image" id="filename2" title="Browse file" accept="image/*" data-filename-placement="inside">
                                    <button class="btn btn-primary" type="submit"><span class="fa fa-save"></span> Upload Image</button>
                                    <!--<button class="btn btn-primary"><span class="fa fa-trash-o"></span> Delete</button>-->
                                </div>            
                            </form>
                        </div>

                        <div class="gallery" id="links">
                            <?php if(!$this->dataSet['portfolioData']['image']) { ?>
                            <div class="alert" role="alert" style="margin-top: 60px;background: #eff7ff;">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <strong>  There is no image uploaded for this project please upload..</strong>
                        </div>

                <?php } foreach($this->dataSet['portfolioData']['image'] as $key => $value )
                { ?>  
                <a class="gallery-item" title="product image" data-gallery="">
                    <div class="image">                              
                        <img src="<?= $this->getBaseUrl() ?>/www/img/<?= $value['image'] ?>" alt="portfolio image">                                        
                        <ul class="gallery-item-controls">
                            <li><label class="check">
                               <div class="icheckbox_minimal-grey" style="position: relative;">
                                <input type="radio" name="primary_image" class="icheckbox" style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper" id="iCheck-helper" onclick="setDefaultImage(<?= $value['id'].','.$_GET['id'] ?>);"
                                  style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">
                                </ins>
                                 </div></label></li>
                            <li><span class="gallery-item-remove" onclick="deleteImage(<?= $value['id'].','.$_GET['id'] ?>);"><i class="fa fa-times"></i></span></li>
                        </ul>                                                                    
                    </div>

                </a>
                <?php  } ?>

                    </div>

                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->

        </div>

    </div>  

</div>

</div>

<!--<script type="text/javascript" src="<?= $this->getBaseUrl() ?>/www/js/jquery-1.9.1.min.js"></script>-->
<script type="text/javascript" src="<?= $this->getBaseUrl() ?>/www/admin/js/admin.js"></script>

<!-- PAGE CONTENT WRAPR -->  
<script>
   
</script>
