


<ul class="breadcrumb">
    <li><a href="#">Admin</a></li>
    <li><a href="<?= $this->getBaseUrl()?>/admin/viewproducts">Products</a></li>
    <li class="active">Add product image</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal"  method="post" action="<?= $this->getBaseUrl() ?>/admin/savecategory">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Add Product Images</strong></h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    
                    <div class="panel-body">                                                                        

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Product Image</label>
                            <div class="col-md-6 col-xs-12">                                            
                                <input type="file" class="fileinput btn-primary" name="image1" id="filename1" title="Browse file"/>
                                <span class="help-block">Choose Image</span>

                            </div>
                        </div>

                        <div class="panel-footer">
                            <button class="btn btn-default">Clear Form</button>                                    
                            <button class="btn btn-primary pull-right">Submit</button>
                        </div>
                    </div>
            </form>

        </div>
    </div>                    

</div>
<!-- END PAGE CONTENT WRAPPER -->   