
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                     
                    <li><a href="#">Home</a></li>                    
                    <li><a href="<?= $this->getBaseUrl()?>/admin/sales">Sales</a></li>
                    <li class="active">Sales List</li>
                </ul>
                <!-- END BREADCRUMB -->

                <!-- PAGE TITLE -->
                <div class="page-title">                     
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Product Sales</h2>
                </div>
                <!-- END PAGE TITLE -->                

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">                
                
                    <div class="row">
                        <div class="col-md-12">

                            <!-- START DEFAULT DATATABLE -->
                            <div class="panel panel-default">
                                <div class="panel-heading">                                
                                    <h3 class="panel-title">Default</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>                                
                                </div>
                                <div class="panel-body">
                                    <table class="table datatable">
                                        <colgroup>
                                            <col width="20%">
                                            <col width="20%">
                                            <col width="25%">
                                            <col width="10%">
                                            <col width="10%">
                                            <col width="15%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>Transaction Id</th>
                                                <th>Product Image</th>
                                                <th>Product Name</th>
                                                <th>Unit Price</th>
                                                <th>Total Price</th>
                                                <th>Transaction Time</th>
                                                
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                         <?php foreach($this->dataSet as $key1 => $value) { ?>
                                          <?php foreach($value['sales-product'] as $key2 => $value2) {
                                                $total = $value2['unit_price'] * $value2['quantity']; ?>   
                                            <tr>
                                                <td><p><?= $value['transaction_id'] ?></p></td>
                                                <td><img src="<?=$this->getBaseUrl()?>/www/uploads/products/<?= $value2['image'] ?>"  onerror="this.src='<?=$this->getBaseUrl()?>/www/uploads/4713ee3e770dd7b839196f4556d8f21d.png'" style="width: 90px; height: 90px;"></td>
                                                <td><p style='overflow: auto'><a href="<?= $this->getBaseUrl()?>/productdetails/index?productid=<?= $value2['product_id'] ?>"><?= $value2['product_name'] ?></a></p>
                                                <p><span>Color:</span> <?= $value2['color'] ?> &nbsp; &nbsp;<span>Quantity:</span> <?= $value2['quantity'] ?></p></td>
                                                <td><p><span>Rs.</span><?= $value2['unit_price'] ?></p></td>
                                                <td><p><span>Rs.</span><?= $total ?></p></td>
                                                <td><p><?= $value['transaction_time'] ?></p></td>
                                                
                                                
                                                
                                            </tr>
                                            <?php  } ?>
                                          <?php  } ?>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END DEFAULT DATATABLE -->

                           

                        </div>
                    </div>                                
                    
                </div>
                <!-- PAGE CONTENT WRAPPER -->                      