


<!-- 
<ul class="breadcrumb">
                    <li><a href="#">Admin</a></li>
                    <li><a href="<?= $this->getBaseUrl()?>/admin/brands">users</a></li>
                    <li class="active">User List</li>
                </ul>  -->
                <!-- END BREADCRUMB -->
                
                <!-- PAGE CONTENT WRAPPER -->
            <!--     <div class="page-content-wrap">
                
                    <div class="row">
                        <div class="col-md-12">
                            
                            <form class="form-horizontal"  method="post" action="<?= $this->getBaseUrl() ?>/admin/register" >
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>View</strong> Users</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>
                               <div class="col-md-6 col-md-offset-2">
                                <div class="panel-body">  
                                	<table class="table">
                                		<tbody>
                                			 <tr>
                                              <td><b>S.No</b></td>
                                                <td><b>User Name</b></td>
                                                 </tr>
                                			<?php $i=1; foreach ($this->data_user as $key => $value) {
                                				# code...
                                			?>
                                			<tr>
                                				<td><?= $i; ?></td><td><?=$value['name'];?></td>
                                			</tr>
                                			<?php $i++; } ?>
                                		</tbody>

                                	</table>
                                    
                                   
                            </div>
                            </div>
                            </div>
                            </form>
                            
                        </div>
                    </div>                    
                    
                </div> -->
                <!-- END PAGE CONTENT WRAPPER -->   
                <!-- ---------------------------------------------------------------- -->




                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Admin</a></li>                    
                    <li><a href="<?= $this->getBaseUrl()?>/admin/viewproducts">Product List</a></li>
                    
                </ul>
                <!-- END BREADCRUMB -->

                <!-- PAGE TITLE -->
                <div class="page-title">                     
                    <h2>Products</h2>
                </div>
                <!-- END PAGE TITLE -->                

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">                
                
                    <div class="row">
                        <div class="col-md-12">

                            <!-- START DEFAULT DATATABLE -->
                            <div class="panel panel-default">
                                <div class="panel-heading">                                
                                    <h3 class="panel-title">Default</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>                                
                                </div>
                                <div class="panel-body">
                                    <table class="table datatable">
                                        <colgroup>
                                           <col width="10%">
                                            <col width="15%">
                                            <col width="15%">
                                            <col width="13%">
                                            <col width="15%">
                                            
                                        </colgroup>
                                        <thead>
                                            <tr>
                                               <th>S.No</th>
                                               <th>User Name</th>
                                               
                                                <th>Email-Id</th>
                                                <th>Phone</th>
                                                
                                                <th>Options</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>

                                             <tr>
                                                <td><?= 1?></td>
                                                
                                                <td>user1</td>
                                                <td>user1@gmail.com</td>
                                                <td>1111111</td>
                                                
                                                <td><a href="<?= $this->getBaseUrl() ?>/admin/manage-user?id=<?= $value['id'] ?>" class="btn btn-info" ><i class="fa fa-eye"></i></a>
                                                    <a href="<?= $this->getBaseUrl() ?>/admin/manage-user?id=<?= $value['id'] ?>" class="btn btn-success" ><i class="fa fa-edit"></i></a>
                                                    <a href="" class="btn btn-danger" ><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                             <tr>
                                                <td><?= 1?></td>
                                                
                                                <td>user2</td>
                                                <td>user1@gmail.com</td>
                                                <td>1111111</td>
                                                
                                                <td><a href="<?= $this->getBaseUrl() ?>/admin/manage-user?id=<?= $value['id'] ?>" class="btn btn-info" ><i class="fa fa-eye"></i></a>
                                                    <a href="<?= $this->getBaseUrl() ?>/admin/manage-user?id=<?= $value['id'] ?>" class="btn btn-success" ><i class="fa fa-edit"></i></a>
                                                    <a href="" class="btn btn-danger" ><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        <!--  <?php foreach($this->data_user as $key => $value )
                                             { ?>
                                            <tr>
                                                <td><?= 1?></td>
                                                
                                                <td><?= $value['name'] ?></td>
                                                <td><?= $value['email'] ?></td>
                                                <td><?= $value['phone'] ?></td>
                                                
                                                <td><a href="<?= $this->getBaseUrl() ?>/admin/manage-user?id=<?= $value['id'] ?>" class="btn btn-info" ><i class="fa fa-eye"></i></a>
                                                    <a href="<?= $this->getBaseUrl() ?>/admin/manage-user?id=<?= $value['id'] ?>" class="btn btn-success" ><i class="fa fa-edit"></i></a>
                                                    <a href="" class="btn btn-danger" ><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                          <?php  } ?> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END DEFAULT DATATABLE -->

                           

                        </div>
                    </div>                                
                    
                </div>
                <!-- PAGE CONTENT WRAPPER -->                      