
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>                    
                    <li><a href="<?= $this->getBaseUrl()?>/admin/viewcategory">Categories List</a></li>
                    
                </ul>
                <!-- END BREADCRUMB -->

                <!-- PAGE TITLE -->
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Categories</h2>
                </div>
                <!-- END PAGE TITLE -->                

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">                
                
                    <div class="row">
                        <div class="col-md-12">

                            <!-- START DEFAULT DATATABLE -->
                            <div class="panel panel-default">
                                <div class="panel-heading">                                
                                    <h3 class="panel-title">Default</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>                                
                                </div>
                                <div class="panel-body">
                                    <table class="table datatable">
                                         <colgroup>
                                           <col width="5%">
                                            <col width="30%">
                                            <col width="30%">
                                            <col width="30%">
                                          
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>News Title</th>
                                                <th>Parent Category</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                             <?php $i=1;foreach($this->data as $key => $value )
                                             { ?>
                                            <tr>
                                                <td><?=$i;?></td>
                                                <td><?= $value['title'] ?></td>
                                                <td><?= $value['category_name']['category_name'] ?></td>
                                                

                                           
                                                    
                                                    <td ><a href="<?= $this->getBaseUrl() ?>/admin/news-detail?id=<?= $value['id'] ?>" class="btn btn-info" ><i class="fa fa-eye"></i></a>
                                                    <a href="<?= $this->getBaseUrl() ?>/admin/manage-news?edit_id=<?= $value['id'] ?>" class="btn btn-success" ><i class="fa fa-edit"></i></a>
                                                    <a href="<?= $this->getBaseUrl() ?>/admin/manage-news?deleted_user_id=<?= $value['id'] ?>" class="btn btn-danger" ><i class="fa fa-trash-o"></i></a>
                                                </td>
                                                    
                                            
                                               
                                            </tr>
                                           <?php $i++; } ?>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END DEFAULT DATATABLE -->

                           

                        </div>
                    </div>                                
                    
                </div>
                <!-- PAGE CONTENT WRAPPER -->                      