 <?php $productData = $this->dataSet['product_data']; ?>
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Admin</a></li>                    
   <li><a href="<?= $this->getBaseUrl()?>/admin/viewproducts">Products</a></li>
    <li class="active">Product Details</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE TITLE -->
<div class="page-title">                     
    <h2></span> Product <?= $productData['sku']  ?></h2>
</div>
<!-- END PAGE TITLE -->                

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                

    <div class="row">
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">  
                       <?php if(!$productData['featured']) { ?>
                        <a href="<?= $this->getBaseUrl().'/admin/set-feature?id='.$_GET['id'] ?>" class="btn btn-info" ><i class="fa fa-plus"></i> Make Featured</a>
                        <!--<button class="btn btn-primary" ><span class="fa fa-plus"></span> Update stock</button>-->
                   <?php } else { ?>
                    <a href="<?= $this->getBaseUrl().'/admin/reset-feature?id='.$_GET['id'] ?>" class="btn btn-info" ><i class="fa fa-minus"></i> Remove Featured</a>
                        <!--<button class="btn btn-primary" ><span class="fa fa-plus"></span> Update stock</button>-->
                   <?php } ?>
                    <ul class="panel-controls">
                       
                        <li>
                            <a href="<?= $this->getBaseUrl().'/admin/manage-products?id='.$_GET['id'] ?>" class="">
                                <span class="fa fa-edit"></span>
                            </a>
                        </li>
                    </ul>                                
                </div>
               
                <div class="panel-body">

                    <div class="timeline-item-content">
                        <div class="col-md-6">                                     
                            <div class="timeline-body comments">
                                <div class="comment-item">
                                    <p class="comment-head">
                                        Product Name
                                    </p>
                                    <p><?= $productData['product_name'] ?></p>
                                </div>                                            
                                <div class="comment-item">
                                    <p class="comment-head">
                                        Product Brand
                                    </p>
                                    <p><?= $productData['brand_name'] ?></p>
                                </div> 
                                <div class="comment-item">
                                    <p class="comment-head">
                                        Product Category
                                    </p>
                                    <p><?= $productData['category_name'] ?></p>
                                </div>
                                <div class="comment-item">
                                    <p class="comment-head">
                                        Unit Price
                                    </p>
                                    <p><?= $productData['unit_price'] ?></p>
                                </div> 
                               
                            </div>
                        </div>
                        <div class="col-md-6" >                                     
                            <div class="timeline-body comments">
                                 <div class="comment-item">
                                    <p class="comment-head">
                                        Color
                                    </p>
                                    <p><?= $productData['color'] ?></p>
                                </div> 
                                
                                <div class="comment-item">
                                    <p class="comment-head">
                                        Features
                                    </p>
                                    <p><?= $productData['features'] ?></p>
                                </div> 
                                <div class="comment-item">
                                    <p class="comment-head">
                                        Tags
                                    </p>
                                    <p><?= $productData['tags'] ?></p>
                                </div> 
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-top: 15px">                                     
                            <div class="timeline-body comments">

                                <div class="comment-item">
                                    <p class="comment-head">
                                        Details
                                    </p>
                                    <p><?= $productData['details'] ?></p>
                                </div> 
                                <div class="comment-item">
                                    <p class="comment-head">
                                        Overview
                                    </p>
                                    <p><?= $productData['overview'] ?></p>
                                </div> 
                            </div>
                        </div>
                    </div>  


                </div>
                <!-- END DEFAULT DATATABLE -->

            </div>

        </div>    
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">                                
                    <h3 class="panel-title">Stock</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>                                
                </div>
                <div class="panel-body">

                    <div class="pull-right push-up-10">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info mb-control" data-box="#box-update-stock"><span class="fa fa-plus"></span> Update stock</button>
                            <!--<button class="btn btn-primary" ><span class="fa fa-plus"></span> Update stock</button>-->
                        </div>
                    </div>
                    <div class="timeline-item-content row" style="clear: both; padding-top: 20px">
                        <div class="col-md-6">                                     
                            <div class="timeline-body comments">
                                <div class="comment-item">
                                    <p class="comment-head">
                                        In Stock
                                    </p>
                                    <p><?= $productData['in_stock'] ?></p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">                                     
                            <div class="timeline-body comments">

                                <div class="comment-item">
                                    <p class="comment-head">
                                        Total sales
                                    </p>
                                    <p><?= $productData['total_sales'] ?></p>
                                </div> 

                            </div>
                        </div>
                    </div>  


                </div>
                <!-- END DEFAULT DATATABLE -->

            </div>

            <!-- info -->
            <div class="message-box message-box-info animated fadeIn" id="box-update-stock">
                <div class="mb-container">
                    <div class="mb-middle">
                        <div class="mb-title">Update Stock</div>
                        <div class="mb-content">
                            <form class="form-inline" action="<?= $this->getBaseUrl() ?>/admin/update-stock" method="POST" role="form">

                                <div class="form-group">
                                    <div class="input-group">                                            
                                        <label class="sr-only">Enter value</label>
                                        <input type="hidden" name="productId" value="<?= $_GET['id'] ?>" />
                                        <input name="stock" class="form-control" type="number" placeholder="enter stock value">
                                    </div>
                                </div>                                    
                                <button type="submit" class="btn btn-primary">Update</button>
                                <button class="btn btn-danger mb-control-close">Cancel</button>
                            </form>  
                        </div>

                    </div>
                </div>
            </div>
            <!-- end info -->

        </div>  

        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">                                
                    <h3 class="panel-title">Product Images</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>                                
                </div>
                <div class="panel-body">
                    <div class="content-frame-body content-frame-body-left" style="height: 933px;">

                        <div class="pull-left push-up-10">
                        </div>
                        <div class="pull-right push-up-10">
                            <form method="POST" name="uploadImage"  enctype="multipart/form-data">
                                <div class="btn-group">
                                    <input type="file" class="fileinput btn-primary" name="product_image"  accept="image/*" id="filename3" data-filename-placement="inside" title="Browse"/>
                                    <button class="btn btn-primary" type="submit"><span class="fa fa-save"></span> Upload Image</button>
                                    <!--<button class="btn btn-primary"><span class="fa fa-trash-o"></span> Delete</button>-->
                                </div>            
                            </form>
                        </div>

                        <div class="gallery" id="links">
                            <?php if(!$this->dataSet['product_images']) { ?>
                            <div class="alert" role="alert" style="margin-top: 60px;background: #eff7ff;">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <strong>  There is no image uploaded for this project please upload..</strong>
                        </div>

                <?php } foreach($this->dataSet['product_images'] as $key => $value )
                { ?>  
                <a class="gallery-item" title="product image" data-gallery="">
                    <div class="image">                              
                        <img src="<?= $this->getBaseUrl() ?>/www/uploads/products/<?= $value['image'] ?>" alt="product image">                                        
                        <ul class="gallery-item-controls">
                            <li><label class="check">
                               <div class="icheckbox_minimal-grey" style="position: relative;">
                                <input type="radio" name="primary_image" class="icheckbox" style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper" id="iCheck-helper" onclick="setDefaultImage(<?= $value['id'].','.$_GET['id'] ?>);"
                                  style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">
                                </ins>
                                 </div></label></li>
                            <li><span class="gallery-item-remove" onclick="deleteImage(<?= $value['id'].','.$_GET['id'] ?>);"><i class="fa fa-times"></i></span></li>
                        </ul>                                                                    
                    </div>

                </a>
                <?php  } ?>

                    </div>

                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->

        </div>

    </div>  

</div>

</div>

<!--<script type="text/javascript" src="<?= $this->getBaseUrl() ?>/www/js/jquery-1.9.1.min.js"></script>-->
<script type="text/javascript" src="<?= $this->getBaseUrl() ?>/www/admin/js/admin.js"></script>

<!-- PAGE CONTENT WRAPR -->  
<script>
   
</script>
