<?php
// dd($this->dataSet);
?>
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>                    
                    <li><a href="<?= $this->getBaseUrl()?>/admin/viewcategory">Categories List</a></li>
                    
                </ul>
                <!-- END BREADCRUMB -->

                <!-- PAGE TITLE -->
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Categories</h2>
                </div>
                <!-- END PAGE TITLE -->                

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">                
                
                    <div class="row">
                        <div class="col-md-12">

                            <!-- START DEFAULT DATATABLE -->
                            <div class="panel panel-default">
                                <div class="panel-heading">                                
                                    <h3 class="panel-title">Default</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>                                
                                </div>
                                <div class="panel-body">
                                    <table class="table datatable">
                                          <colgroup>
                                           <col width="3%">
                                            <col width="13%">
                                            <col width="12%">
                                            <col width="10%">
                                            <col width="13%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <!-- <th>Description (optional)</th> -->
                                                <th>Title</th>
                                                <th>Description</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                             <?php $i=1; foreach($this->dataSet['portfolioData'] as $key => $value )
                                             {
                                             ?>
                                            <tr>
                                                <td><?= $i; ?></td>
                                                <td><?= $value['name'] ?></td>
                                                <td><?= $value['title'] ?></td>
                                                <td><?= $value['description'] ?></td>
                                                <td style="text-align: center;"><a href="<?= $this->getBaseUrl() ?>/admin/portfolio-detail?id=<?= $value['id'] ?>" class="btn btn-info" ><i class="fa fa-eye"></i></a>
                                                    <a href="<?= $this->getBaseUrl() ?>/admin/manage-portfolio?edit_id=<?= $value['id'] ?>" class="btn btn-success" ><i class="fa fa-edit"></i></a>
                                                    <a href="<?= $this->getBaseUrl() ?>/admin/manage-portfolio?deleted_user_id=<?= $value['id'] ?>" class="btn btn-danger" ><i class="fa fa-trash-o"></i></a>
                                                </td>
                                               
                                            </tr>
                                           <?php $i++; } ?>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END DEFAULT DATATABLE -->

                        </div>
                    </div>                                
                    
                </div>
                <!-- PAGE CONTENT WRAPPER -->                      