
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Admin</a></li>                    
                    <li><a href="<?= $this->getBaseUrl()?>/admin/viewproducts">Product List</a></li>
                    
                </ul>
                <!-- END BREADCRUMB -->

                <!-- PAGE TITLE -->
                <div class="page-title">                     
                    <h2>Products</h2>
                </div>
                <!-- END PAGE TITLE -->                

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">                
                
                    <div class="row">
                        <div class="col-md-12">

                            <!-- START DEFAULT DATATABLE -->
                            <div class="panel panel-default">
                                <div class="panel-heading">                                
                                    <h3 class="panel-title">Default</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>                                
                                </div>
                                <div class="panel-body">
                                    <table class="table datatable">
                                        <colgroup>
                                           <col width="10%">
                                            <col width="20%">
                                            <col width="15%">
                                            <col width="13%">
                                            <col width="10%">
                                            <col width="8%">
                                            <col width="">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                               <th>SKU</th>
                                               <th>Image</th>
                                                <th>Product Name</th>
                                                <th>Category</th>
                                                <th>Brand</th>
                                                <th>Unit Price</th>
                                                <th>In Stock</th>
                                                <th>Options</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                         <?php foreach($this->dataSet['productData'] as $key => $value )
                                             { ?>
                                            <tr>
                                                <td><?= $value['sku'] ?></td>
                                                <td><img src="<?=$this->getBaseUrl()?>/www/uploads/products/<?= $value['image'] ?>" alt="No image" style="width: 150px; height: 66px;"></td>
                                                <td><?= $value['product_name'] ?></td>
                                                <td><?= $value['category_name'] ?></td>
                                                <td><?= $value['brand_name'] ?></td>
                                                <td><?= $value['unit_price'] ?></td>
                                                <td><?= $value['in_stock'] ?></td>
                                                <td><a href="<?= $this->getBaseUrl() ?>/admin/view-product?id=<?= $value['product_id'] ?>" class="btn btn-info" ><i class="fa fa-eye"></i></a>
                                                    <a href="<?= $this->getBaseUrl() ?>/admin/manage-products?id=<?= $value['product_id'] ?>" class="btn btn-success" ><i class="fa fa-edit"></i></a>
                                                    <a href="" class="btn btn-danger" ><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                          <?php  } ?>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END DEFAULT DATATABLE -->

                           

                        </div>
                    </div>                                
                    
                </div>
                <!-- PAGE CONTENT WRAPPER -->                      