
<body>
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Admin</a></li>                    
    <li><a href="#">Product</a></li>
    <li class="active">Product Details</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE TITLE -->
<div class="page-title">                     
    <h2><span class="fa fa-arrow-circle-o-left"></span> Products</h2>
</div>
<!-- END PAGE TITLE -->                

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                

    <div class="row">
         <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">                                
                    <h3 class="panel-title">Stock</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>                                
                </div>
                

            </div>

            

        </div> 
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">                                
                    <h3 class="panel-title">Default</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>                                
                </div>
                 <?php  foreach ($this->dataSet as $key => $value) {
                            #
                        ?>
                <div class="panel-body">
                    <div class="timeline-item-content">
                       
                      
                            
                    
                            <div class="col-md-4">  

                                        <img src="<?=$this->getBaseUrl()?>/www/img/<?=$value['image'];?>" onerror="this.src='<?= $this->getBaseUrl() ?>/www/images/310x150.jpg'" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                                         <div class="timeline-body comments">
                                                         </div>
                                   </div> 
                        <div class="col-md-8">                                     
                            <div class="timeline-body comments">
                                 
                                <!-- <div class="comment-item">
                                    <p class="comment-head"><b>
                                         Party
                                    &nbsp;&nbsp;&nbsp;&nbsp;<?= $value['party'] ?></b></p>
                                </div>  -->
                                 <!-- <div class="comment-item">
                                    <p class="comment-head"><b>
                                         Title
                                    &nbsp;&nbsp;&nbsp;&nbsp;<?= $value['category_name'] ?></b></p>
                                </div> -->                                            
                                <div class="comment-item">
                                   
                                    <p class="comment-head"><b>
                                        Category
                                    &nbsp;&nbsp;&nbsp;&nbsp;<?= $value['category_name']?></b></p>
                                </div> 
                                <!-- <div class="comment-item">
                                    
                                    <p class="comment-head"><b>
                                         E-mail
                                    &nbsp;&nbsp;&nbsp;&nbsp;<?= $value['email'] ?></b></p>
                                </div>
                                <div class="comment-item">
                                    <p class="comment-head"><b>
                                        Office Address
                                    
                                    &nbsp;&nbsp;&nbsp;&nbsp;<?= $value['officeadd'] ?></b></p>
                                </div> 
                                
                                <div class="comment-item">
                                    <p class="comment-head"><b>
                                        Office Contact
                                    &nbsp;&nbsp;&nbsp;&nbsp;<?= $value['officeCont'] ?></b></p>
                                </div>  --> 
                                <div class="comment-item">
                                    <p class="comment-head"><b>
                                        Created at
                                    &nbsp;&nbsp;&nbsp;&nbsp;<?= date('M/d/Y H:i:s',$value['created_at']); ?></b></p>
                                </div>
                                

                            </div>
                        </div>
                        <!-- <div class="col-md-12">
                              <div class="timeline-item-content">
                                  <div class="timeline-body comments">
                                 <div class="comment-item">
                                    <p class="comment-head"><b>
                                        Description
                                    &nbsp;&nbsp;&nbsp;&nbsp;<?= $value['description'] ?></b></p>
                                </div>
                              </div>
                               </div>
                        </div> -->
                    </div>  
                  

                </div>
                <!-- END DEFAULT DATATABLE -->

            </div>
  <?php } ?>

        </div>    
        

 
    
        

</div>


</div>

</body>
</html>

<!-- PAGE CONTENT WRAPR -->  
