
    <section id="about-us">
        <div class="container">
        		<!-- about us slider -->
			<div id="about-slider">
				<div id="carousel-slider" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
				  	<ol class="carousel-indicators visible-xs">
					    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-slider" data-slide-to="1"></li>
					    <li data-target="#carousel-slider" data-slide-to="2"></li>
				  	</ol>

					<div class="carousel-inner">
						<div class="item active">
							<img  src="<?= $this->getBaseUrl()?>/www/images/slider one.png" class="img-responsive" alt=""> 
					   </div>
					   <div class="item">
							<img  src="<?= $this->getBaseUrl()?>/www/images/slider one.png" class="img-responsive" alt=""> 
					   </div> 
					   <div class="item">
							<img  src="<?= $this->getBaseUrl()?>/www/images/slider one.png" class="img-responsive" alt=""> 
					   </div> 
					</div>
					
					<a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
						<i class="fa fa-angle-left"></i> 
					</a>
					
					<a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
						<i class="fa fa-angle-right"></i> 
					</a>
				</div> <!--/#carousel-slider-->
			</div><!--/#about-slider-->
			<div class="center wow fadeInDown" style="text-align:left">
				<h2>Welcome to SkyDevelopers</h2>
				<p class="lead" style="font-size: 15px;">We are an enterprise mobile apps company which architects and executes the enterprise mobility strategy. We mobilize businesses with secure, cost-effective, enterprise mobile apps. We are based out of both USA and India serving and expanding to global clientele.</p>

<p class="lead" style="font-size: 15px;">One of the pioneers in mobile app development services, we at Skydevelopers have witnessed the entire evolution of mobile software since inception. Setting a benchmark in making quality mobile apps, we are now perceived as one of the best entity providing end to end solutions for mobile apps.</p>

<p class="lead" style="font-size: 15px;">Not only we design and develop great mobile applications, we follow it with app marketing strategies to give you a complete range of services. We compliment it with strict quality control for satisfactory user experience.</p>

<p class="lead" style="font-size: 15px;">With blurring lines between web and mobile, we made sure that we have a strong web development team to deliver incredible websites and web apps that performs equally across all platforms.</p>

<p class="lead" style="font-size: 15px;">We mobilize your business in real sense – be it sales enablement, BPM, project tracking, engagement platforms – all embedded with data analytics and reporting. Our whole framework of mobility solutions is built around 3 pillars – integration, security and analytics. We are serving global clients across industries. Along with rapid growth, we ensure across all our apps</p>
<ul class="lead"  >
<li class="lead" style="font-size: 15px;">Enterprise data security</li>
<li class="lead" style="font-size: 15px;">Rapid buildups along with prototypes and mockups</li>
<li class="lead" style="font-size: 15px;">Reliable and scalable architectures</li>
<li class="lead" style="font-size: 15px;">Data analytics and reporting</li>
<li class="lead" style="font-size: 15px;">Cost effectiveness</li>
</ul>
</p>

			</div>

			
	
			
			
		
        <div class="container">
        
           <div class="left wow fadeInDown" style="border-top: double #ddd;">
                <h2>Features</h2>
                <!-- <p class="lead" style="font-size: 15px;">Sky Developers is backed up by a strong team of professionals, skilled developers, project managers embedded with their passion to innovate, commitment to quality service and zeal to finish project on time.</p> -->
            </div>
            

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-rocket"></i>
                            <h2>Customer Centric</h2>
                            <h3>Our services are streamed directly into our customers need.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-plane"></i>
                            <h2>Collaboration</h2>
                            <h3>Our services are streamed directly into our customers need.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-book"></i>
                            <h2>Excellence:</h2>
                            <h3>We strive to create the best product for our clients within a stipulated budget</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-arrow-circle-up"></i>
                            <h2>Efficiency & Effectiveness:</h2>
                            <h3>Our focus on efficiency is inevitable because it relates directly to ROI and client satisfaction</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-download"></i>
                            <h2>Care</h2>
                            <h3>We have been always been a people centric company. We give our employees freedom and a safe environment for them to think creative and colourful</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cloud"></i>
                            <h2>Growth</h2>
                            <h3>Growth affects the employee more on a psychological scale than monetary. We give significant growth to the best performers and keep them motivated</h3>
                        </div>
                    </div>
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    <!--/#feature--> 

			

			<!-- our-team -->
			<div class="team">
				<div class="left wow fadeInDown" style="border-top: double #ddd;" >
					<h2>Management Team</h2>
					<p class="lead" style="font-size: 15px;">Sky Developers is backed up by a strong team of professionals, skilled developers, project managers embedded with their passion to innovate, commitment to quality service and zeal to finish project on time.</p>
				</div>

				<div class="row clearfix">
					<div class="col-md-4 col-sm-6">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object"  src="<?= $this->getBaseUrl()?>/www/images/Ashish1.jpg" alt="" style="height:147px"></a>
								</div>
								<div class="media-body">
									<h4>Ashish Kumar</h4>
									<h5>CO-FOUNDER, CTO</h5>
									<ul class="tag clearfix">
										<li class="btn"><a href="#">Web</a></li>
										<li class="btn"><a href="#">Ui</a></li>
										<li class="btn"><a href="#">Ux</a></li>
										<li class="btn"><a href="#">Photoshop</a></li>
									</ul>
									
									<ul class="social_icons">
										<li><a href="https://www.facebook.com/ashishchauhan05"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
										<li><a href="https://plus.google.com/u/0/106062759480417608597"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div><!--/.media -->
							<p>Ashish Kumar is CO-Founder at Sky Developers ,He own Degree of Master of Computer Applications from Galgotiya College of Engineering and Technology,Greater Noida. He is a renowned management personal and manages the technical team of highly skilled engineers and is responsible for timely delivery of quality projects.</p>
						</div>
					</div><!--/.col-lg-4 -->
					
					
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object"  src="<?= $this->getBaseUrl()?>/www/images/akash.jpg" alt="" style="height:147px"></a>
								</div>
								<div class="media-body">
									<h4>AKASH KUMAR</h4>
									<h5>EXECUTIVE HEAD - DEVELOPMENT</h5>
									<ul class="tag clearfix">
										<li class="btn"><a href="#">Web development</a></li>
										<li class="btn"><a href="#">Ui/Ux</a></li>
										<li class="btn"><a href="#">Php</a></li>
										<li class="btn"><a href="#">Back-End</a></li>
									</ul>
									<ul class="social_icons">
										<li><a href="https://www.facebook.com/Akash.chaudhary.1994"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
										<li><a href="https://plus.google.com/u/0/115446585301249682213"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div><!--/.media -->
							<p>Akash Kumar is Executive Head (Development) at Sky Developers ,He own Degree of Bachlor of Technology from Noida Institute of Engineering and Technology in Information Technology. He brings a strong portfolio of experiences encompassing Outsourced Product Development, Applications Outsourcing, and Global Business Development.</p>
						</div>
					</div><!--/.col-lg-4 -->					
				</div> <!--/.row -->
				<div class="row team-bar">
					<div class="first-one-arrow hidden-xs">
						<hr>
					</div>
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
				</div> <!--skill_border-->   
					<div class="row clearfix">
					<div class="col-md-4 col-sm-6">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object"  src="<?= $this->getBaseUrl()?>/www/images/rohit.png" alt="" style="height:147px"></a>
								</div>
								<div class="media-body">
									<h4>ROHIT MAURYA</h4>
									<h5>DIRECTOR </h5>
									<ul class="tag clearfix">
										<li class="btn"><a href="#">Web</a></li>
										<li class="btn"><a href="#">Ui</a></li>
										<li class="btn"><a href="#">Ux</a></li>
										<li class="btn"><a href="#">Photoshop</a></li>
									</ul>
									
									<ul class="social_icons">
										<li><a href="https://www.facebook.com/rohit.maurya.330"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
										<li><a href="https://plus.google.com/u/0/113976821369993851273/posts"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div><!--/.media -->
							<p>Rohit Maurya is Management Director at Sky Developers ,He own Degree of Bachlor of Technology from Noida Institute of Engineering and Technology in Computer Science Engineering</p>
						</div>
					</div><!--/.col-lg-4 -->
					
					
									
				</div> <!--/.row -->
			  

			
			</div><!--section-->
		</div><!--/.container-->
    </section><!--/about-us-->
	
    