
    <section id="about-us">
        <div class="container">

                <div class="item">
					<img  src="<?= $this->getBaseUrl()?>/www/images/android_development.jpg" class="img-responsive" alt=""> 
			    </div> 
        <!-- about us slider -->
			<!-- <div id="about-slider">
				<div id="carousel-slider" class="carousel slide" data-ride="carousel">
					
				  	<ol class="carousel-indicators visible-xs">
					    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-slider" data-slide-to="1"></li>
					    <li data-target="#carousel-slider" data-slide-to="2"></li>
				  	</ol>

					<div class="carousel-inner">
						<div class="item active">
							<img  src="<?= $this->getBaseUrl()?>/www/images/android_development.jpg" class="img-responsive" alt=""> 
					   </div>
					   <div class="item">
							<img  src="<?= $this->getBaseUrl()?>/www/images/android_development.jpg" class="img-responsive" alt=""> 
					   </div> 
					   <div class="item">
							<img  src="<?= $this->getBaseUrl()?>/www/images/android_development.jpg" class="img-responsive" alt=""> 
					   </div> 
					</div>
					
					<a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
						<i class="fa fa-angle-left"></i> 
					</a>
					
					<a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
						<i class="fa fa-angle-right"></i> 
					</a>
				</div> 
			</div> -->
			<!--/#about-slider--> 
			<div class="center wow fadeInDown" style="text-align:left">
				<h2>ANDROID DEVELOPMENT</h2>
				<p class="lead" style="font-size: 15px;">Android apps live in a highly fragmented multi-device world. The API rules are less strict, but quality assurance testing is more intensive. We handle it. We’ve developed hundreds of cool Android apps on releases from 2.X to 5.X. From Gingerbread to Lollipop, simple phones to custom devices to Android wearables — we’ve done it all</p>

			</div>
			
			
			
			<div class="container">
        
           <div class="left wow fadeInDown" style="border-top: double #ddd;">
                <h2 style="text-align:center; font-size:26px; margin-top:10px">MATERIAL DESIGN</h2>
                
            </div>
            

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <h2>ANIMATION</h2>
                            <h3>Just as the shape of an object indicates how it might behave, watching an object move demonstrates whether it’s light, heavy, flexible, rigid, small or large. In the world of material design, motion describes spatial relationships, functionality, and intention with beauty and fluidity.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap"> 
                            <img src="<?= $this->getBaseUrl()?>/www/images/materialdesign.png" alt="">
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            
                            <h2>STYLE</h2>
                            <h3>Color in material design is inspired by bold hues juxtaposed with muted environments, deep shadows, and bright highlights. Material takes cues from contemporary architecture, road signs, pavement marking tape, and athletic courts. Color should be unexpected and vibrant.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                      </div></div>
                 <div class="row"> 
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                     
                            
                            <h2>LAYOUT</h2>
                            <h3>Material design is guided by print-based design elements—such as typography, grids, space, scale, color, and imagery—to create hierarchy, meaning, and focus that immerse the user in the experience.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            
                            <h2>COMPONENTS</h2>
                            <h3>A bottom sheet is a sheet of material that slides up from the bottom edge of the screen and presents a set of clear and simple actions.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <h2>USABILITY</h2>
                            <h3>A product is accessible when all people— regardless of ability—can navigate it, understand it, and use it successfully. Products should aim to be accessible to the widest possible audience.</h3>
                        </div>
                    </div>
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
			
			
		</div><!--/.container-->
    </section><!--/about-us-->
	
    