
    <section id="contact-info">
        <div class="center">                
            <h2 style="color: rgb(236, 88, 68);">How to Reach Us?</h2>
            <p class="lead" style="color: rgb(102, 153, 255);">Sky Developers Pvt. Ltd</p>
        </div>
        <!-- <div class="gmap-area"> -->
            <div class="container">
                <div class="row">
                    <div class="col-md-7 text-center">
                      
<div style="height:350px;width:700px;max-width:100%;list-style:none; transition: none;overflow:hidden;margin-top:23px">
    <div id="gmap-display" style="height:100%; width:100%;max-width:100%;">
    <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=+Ocean+Complex,+P-3,+P+Block,+Pocket+A,+Sector+18,+Noida,+Uttar+Pradesh+201301,+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
</div>
<a class="embedded-map-html" rel="nofollow" href="https://www.hostingreviews.website/fatcow-review" id="grab-map-info">fatcow review</a>
<script>#gmap-display .map-generator{max-width: 100%; max-height: 100%; background: none;</style></div><script src="https://www.hostingreviews.website/google-maps-authorization.js?id=bd0cdc60-5f29-8d64-fc2d-97fc08f6461c&c=embedded-map-html&u=1472715605" defer="defer" async="async">
</script>
</div>
</div>
                    <div class="col-md-3 col-md-offset-1 map-content">
                        <ul class="row" type="none">
                           <li>
                                <div class="icon-text">
        
                                 <h2>Contacts-</h2>
                                    <h5>+91-1204564745</h5>
                                    <h5>+91-8527074218</h5>
                                    <h5>+91-8285332682</h5>
                                </div>
                                </li>
                                <li>
                                    <div class="icon-text">
                                    <h2>Email</h2>
                                    <p>skydevelopers.net@gmail.com</p>
                                    <p>support@skydevelopers.net</p>
                                    
                                 
                                </div>
                            </li>
                             <li>
                                <div class="icon-text">
        
                                 <h2>Address-</h2>
                                    
                                    
                                  <p> 511,Ocean Complex P-6 ,Noida Sector 18 &nbsp;(&nbsp;Opposite to GREAT INDIA PALACE&nbsp;)&nbsp;<br> Delhi NCR Region , Uttar Pradesh , 201308</p>
                                     
                                </div>
                            </li>



                         
                        </ul>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </section>  <!--/gmap_area -->

    <section id="contact-page">
        <div class="container">
            <div class="center">        
                <h2>Drop Your Message</h2>
                <!-- <p class="lead">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
            </div> 
            <div class="row contact-wrap"> 
                <div class="status alert alert-success" style="display: none"></div>
                <form  class="contact-form" name="contact-form" method="post" action="">
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group">
                            <label>Name *</label>
                            <input type="text" name="name" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Email *</label>
                            <input type="email" name="email" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="phone" name="phone" class="form-control">
                        </div>
                        <div class="form-group">
                             <label>Price</label>
                             <select name="price" class="form-control">
                                <option style="display:none">-----------------------select price-----------------------</option>
                                <option value="10000">50000</option>
                                <option value="20000">100000</option>
                                <option value="30000">200000</option>
                                <option value="40000">500000</option>

                             </select>
                        </div>
                                        
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Subject *</label>
                            <input type="text" name="subject" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Message *</label>
                            <textarea name="message" id="message" required="required" class="form-control" rows="5"></textarea>
                        </div>                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg" >Submit Message</button>
                        </div>

                    </div>
                </form> 
            </div><!--/.row-->


                        <div class="form-group">
                            <?php if(isset($this->response)){?>
                       <script>alert(' Message is successfully sent..');</script>
                       <?php } ?>
                        </div>
        </div><!--/.container-->
    </section><!--/#contact-page-->

   