
    <section id="about-us">
        <div class="container">

                 

			<div class="center wow fadeInDown" style="text-align:left">
				<h2 style="text-align:center;"">Database</h2>
                <h2 style="text-align:left;font-size:20px">The Importance of using Database</h2>
				<p class="lead" style="font-size: 15px;">A database management system stores, organizes and manages a large amount of information within a single software application. A database server is the key to solving the problems of information management. It is important because it manages data efficiently and allows users to perform multiple tasks with ease. More to that, these DMSs are critical for businesses and organizations because they provide a highly efficient method for handling multiple types of data.</p>
                <p class="lead" style="font-size: 15px;">In order to make the most out of these Database systems, users can categorize and structure the data in a way that best suits the needs of the company or organization. Data can be entered into the system and accessed on a routine basis by assigned users. Each user may have an assigned password to gain access to their part of the system. Multiple users can use the system at the same time in different ways.</p>
                <p class="lead" style="font-size: 15px;">At Sky Developers we not only possess the required qualifications in the field, we also offer a range of associated services to our clients to help them manage their existent database technologies better and in a more professional manner.</p>

                <h2 style="text-align:left;font-size:20px">Relational Database Management Systems</h2>
                <p class="lead" style="font-size: 15px;">RDBMS stands for Relational Database Management System. RDBMS or Relational Database Management System is a full-scale database management system (DBMS) where data can be stored in related table-format. RDBMS is considered powerful because here the data is integrated in database tables, records and fields. Each RDBMS table has database table rows and each of these row has one or more database table fields. Thus, the same database can be seen in different ways for varied purposes.RDBMS store the data into collection of tables, which might be related by common fields (database table columns). RDBMS also provide relational operators to manipulate the data stored into the database tables. Most RDBMS use SQL as database query language.</p>



			</div>

        <div class="container">
         <div class="left wow fadeInDown" style="border-top: double #ddd;">
            <div class="row" style="margin-top:30px;">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                        <i class="fa fa-"></i>
                            <h2>MYSQL</h2>
                            <h3>MySQL is an open source SQL database developed by Swedish company MySQL AB. It supports various platforms including, Microsoft Windows, Linux, UNIX and Mac OS.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-"></i>
                            <h2>SQLITE</h2>
                            <h3>SQLite is a software library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine.</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                     <i class="fa fa-"></i>
                            
                            <h2>ORACLE</h2>
                            <h3>An Oracle database is a collection of data treated as a unit. Oracle is designed for enterprise grid computing built on a relational database framework.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                      

                    
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
			
			
		</div><!--/.container-->
    </section><!--/about-us-->
	
    