
    <section id="about-us">
        <div class="container">

        <div class="item">
					<img  src="<?= $this->getBaseUrl()?>/www/images/ios_development.jpg" class="img-responsive" alt=""> 
		 </div> 
        

			<div class="center wow fadeInDown" style="text-align:left">
				<h2 style="text-align:center">IOS DEVELOPMENT</h2>
				<p class="lead" style="font-size: 15px;">From iPhone to iPad to Apple Watch - we've built a boatload of iOS apps. A very large, powerful boat. Can your app say, "I'm on a boat!'? Ours can. Sourcebits made our mark developing iOS apps. Several hundred iPhone and iPad apps later, we’ve achieved success in almost every category for just about every industry. We’re also experienced in Swift, and have the best team of C and Objective-C coders.</p>
				<p class="lead" style="font-size: 15px;">Everything we do as an iPhone app developer is dedicated to providing our clients the best possible ROI and positioning on the market. We built a large team in order to keep every aspect of our process in house, and you’ll find that we are also dedicated to keeping you in the loop every step of the way. We offer detailed updates throughout the iPad app development process, but we also offer full analyses and strategizing for your app’s rollout and continued success. We’re with you every step of the way, unlike many other iPhone app development companies.</p>
				<p class="lead" style="font-size: 15px;">we understand that iPhone app development is not about your company, and it’s not about our designers. It’s not about the iPhone platform or the App Store, either. It’s about your users – your target audience. In order to be successful, you have to offer them what they want. You need excellent functionality packaged in a polished, seamless, bug-free app that offers intuitive operation and stability. That’s where we excel.</p>

			</div>
			
			
	</div><!--/.container-->
    </section><!--/about-us-->
	
    