
    <section id="about-us">
        <div class="container">

                <div class="item">
					<img  src="<?= $this->getBaseUrl()?>/www/images/android_development.jpg" class="img-responsive" alt=""> 
			    </div> 

			<div class="center wow fadeInDown" style="text-align:left">
				<h2 style="text-align:center;"">Mobile Apps</h2>
				<p class="lead" style="font-size: 15px;">Along with a wide expansion in the usage of mobile devices, has followed the groundbreaking invention of mobile applications of all kind in recent years. This has opened doors for businesses to identify and reach out to their huge potential customer base lurking in the mobile world to explore nuances that interests them. In order to satiate the potential customer’s eagerness to explore nuances of mobile world, today enterprises are looking forward to attract consumers on this thriving platform, smartphone. This has simply leveraged the importance of developing innovative and robust mobile applications.</p>
                <p class="lead" style="font-size: 15px;">Mobile applications are now one of the best ways for businesses to directly connect to their customers, and in an utmost personalized way.</p>
                <p class="lead" style="font-size: 15px;">Sky Developers offers complete mobile app development solutions- From transforming an app idea to a finished efficient product. Sky Developer’s mobile app development services are designed to bring innovativeness and robustness right from the app development process till post- deployment analysis and support. We provide compelling app development solutions for iPhone and Android platforms. Our skilled team of app developers are well-versed with technical competencies in order to deliver high quality and efficient mobile apps. Being one of the early adopters of advanced technologies, Sky Developers has a vast potential to deliver industry-best mobile apps at cost-effective rates. Sky Developers believes in fostering critical aspects like Quality, Responsiveness, Consistency, Speed and Scalability while dealing with each mobile app development project.</p>

			</div>

        <div class="container">
         <div class="left wow fadeInDown" style="border-top: double #ddd;">
            <div class="row" style="margin-top:30px;">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                        <i class="fa fa-"></i>
                            <h2>Objective C & Swift</h2>
                            <h3>iOS platform has always been the first choice for premium app developers who later on tend to decide…</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-"></i>
                            <h2>JAVA & OPENGL</h2>
                            <h3>Known for its largest installed base across any mobile platform, Android is backed by millions of dedicated…</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                     <i class="fa fa-"></i>
                            
                            <h2>PHONEGAP TECHNOLOGY</h2>
                            <h3>Developing a multi-platform application is more of a necessity and less of a requirement …</h3>
                        </div>
                    </div><!--/.col-md-4-->

                      </div></div>
                 <div class="row"> 
                <div class="features">
                    

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                           <i class="fa fa-"></i> 
                            <h2>BACKEND & API</h2>
                            <h3>Considering the nuances of application development, the terms “front end” and “back end”…</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
			
			
		</div><!--/.container-->
    </section><!--/about-us-->
	
    