
    <section id="portfolio">
        <div class="container">
            <div class="center">

                    <?php foreach ($this->dataSet as $key => $value) {
                        
                    ?>
               <h2><?=$value['name'];?></h2>
             
            </div>
        

           

            <div class="row">
              

                    <div class="col-md-5">
                      
                            <img class="img-responsive" src="<?= $this->getBaseUrl()?>/www/img/<?=$value['image'];?>" onerror="this.src='<?= $this->getBaseUrl()?>/www/images/Ashish1.jpg' " alt="" rel="prettyPhoto">
                            
                       
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <?=$value['description'];?>
                    </div>
                  
               
            </div>
              <?php } ?>
               
        </div>
    </section><!--/#portfolio-item-->
    