
   
    <section id="portfolio">
        <div class="container">
            <div class="center">
               <h2>Portfolio</h2>
               <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p> -->
            </div>
        

            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="" id="default_btn">All Works</a></li>
                <li><a class="btn btn-default" href="#" data-filter="" id="creative_btn">Creative</a></li>
                <li><a class="btn btn-default" href="#" data-filter="" id="photo_btn">Photography</a></li>
                <li><a class="btn btn-default" href="#" data-filter="" id="web_btn">Web Development</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">
                <div class="portfolio-items" id="div1">
                 <?php foreach ($this->dataSet1 as $key => $value) {
                        
                    ?>
                    <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3" 
                    >
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="<?= $this->getBaseUrl()?>/www/img/<?=$value['image'];?>" onerror="this.src='<?= $this->getBaseUrl()?>/www/images/Ashish1.jpg' " alt="" style="height:200px;">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#"><?=$value['name']?></a></h3>
                                    <p><?=$value['title']?></p>
                                    <a class="preview" href="<?= $this->getBaseUrl()?>/index/portfolio-detail?id=<?=$value['id'];?>" rel=""><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->
                    <?php } ?>
                </div>
                <div class="portfolio-items" id="div2">
                 <?php foreach ($this->dataSet2 as $key => $value) {
                        
                    ?>
                    <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3" 
                    >
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="<?= $this->getBaseUrl()?>/www/img/<?=$value['image'];?>" onerror="this.src='<?= $this->getBaseUrl()?>/www/images/Ashish1.jpg' " alt="" style="height:200px;">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#"><?=$value['name']?></a></h3>
                                    <p><?=$value['title']?></p>
                                    <a class="preview" href="<?= $this->getBaseUrl()?>/index/portfolio-detail?id=<?=$value['id'];?>" rel=""><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->
                    <?php } ?>
                </div>
                <div class="portfolio-items" id="div3">
                 <?php foreach ($this->dataSet3 as $key => $value) {
                        
                    ?>
                    <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3" 
                    >
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="<?= $this->getBaseUrl()?>/www/img/<?=$value['image'];?>" onerror="this.src='<?= $this->getBaseUrl()?>/www/images/Ashish1.jpg' " alt="" style="height:200px;">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#"><?=$value['name']?></a></h3>
                                    <p><?=$value['title']?></p>
                                    <a class="preview" href="<?= $this->getBaseUrl()?>/index/portfolio-detail?id=<?=$value['id'];?>" rel=""><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->
                    <?php } ?>
                </div>
                <div class="portfolio-items" id="div4">
                 <?php foreach ($this->dataSet4 as $key => $value) {
                        
                    ?>
                    <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3" 
                    >
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="<?= $this->getBaseUrl()?>/www/img/<?=$value['image'];?>" onerror="this.src='<?= $this->getBaseUrl()?>/www/images/Ashish1.jpg' " alt="" style="height:200px;">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#"><?=$value['name']?></a></h3>
                                    <p><?=$value['description']?></p>
                                    <a class="preview" href="<?= $this->getBaseUrl()?>/index/portfolio-detail?id=<?=$value['id'];?>" rel=""><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->
                    <?php } ?>
                </div>
            </div>
        </div>
    </section><!--/#portfolio-item-->

    <script>

        $(document).ready(function(){

                $('#div2').hide();
                $('#div3').hide();
                $('#div4').hide();
              
            });


            $('#default_btn').click(function(){
                $('#div2').hide();
                $('#div3').hide();
                $('#div4').hide();
                $('#div1').show();

            });
            $('#creative_btn').click(function(){
             
                $('#div2').show();
                $('#div1').hide();
                $('#div3').hide();
                $('#div4').hide();

            });

            $('#photo_btn').click(function(){
             
                $('#div3').show();
                $('#div1').hide();
                $('#div2').hide();
                $('#div4').hide();

            });

             $('#web_btn').click(function(){
             
                $('#div4').show();
                $('#div1').hide();
                $('#div2').hide();
                $('#div3').hide();

           
        });
        
        </script>
    