

    <section id="feature" class="transparent-bg">
         <section id="services" class="service-item">
     <div class="container">
            <div class="center wow fadeInDown">
                <h2>Our Services</h2>
                <p class="lead">With blurring lines between web and mobile, we made sure that we have a strong web development team to deliver incredible websites and web apps that performs equally across all platforms.</p>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="<?= $this->getBaseUrl()?>/www/images/services/services1.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Android App Development</h3>
                            <p>IDEs being used to develop Android </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="<?= $this->getBaseUrl()?>/www/images/services/services2.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">iphone App Development</h3>
                            <p>From iPhone to iPad to Apple </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="<?= $this->getBaseUrl()?>/www/images/services/services3.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Software Development</h3>
                            <p> Best Website Designing development</p>
                        </div>
                    </div>
                </div>  

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-right">
                            <img class="img-responsive" src="<?= $this->getBaseUrl()?>/www/images/services/services4.png">
                        </div>
                        <div class="media-body"> 
                            <h3 class="media-heading">Website Development</h3>
                            <p>PHP , HTML, Wordpress , Css</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="<?= $this->getBaseUrl()?>/www/images/services/services6.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">E-Commerce</h3>
                            <p>Enterprise Application Development</p>
                        </div>
                    </div>
                </div>                                                
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->



<!-- Our Skill -->
            <div class="skill-wrap clearfix">
            
                <div class="center wow fadeInDown">
                    <h2>Our Skills</h2>
                    
                </div>
                
                <div class="row">
        
                    <div class="col-sm-3">
                        <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="joomla-skill">                                   
                                <p><em>95%</em></p>
                                <p>Android</p>
                            </div>
                        </div>
                    </div>
                    
                     <div class="col-sm-3">
                        <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="html-skill">                                  
                                <p><em>95%</em></p>
                                <p>HTML</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-3">
                        <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                            <div class="css-skill">                                    
                                <p><em>95%</em></p>
                                <p>PHP</p>
                            </div>
                        </div>
                    </div>
                    
                     <div class="col-sm-3">
                        <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                            <div class="wp-skill">
                                <p><em>90%</em></p>
                                <p>Wordpress</p>                                     
                            </div>
                        </div>
                    </div>
                    
                </div>
    
            </div><!--/.our-skill-->
            <div class="get-started center wow fadeInDown">
                <h2>Ready to get started</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. <br>  Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                <div class="request">
                    <h4><a href="#">Request a free Quote</a></h4>
                </div>
            </div><!--/.get-started-->

            <div class="clients-area center wow fadeInDown">
                <h2>What our client says</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img  src="<?= $this->getBaseUrl()?>/www/images/client1.png" class="img-circle" alt="">
                        <h3>Loresrcm ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h3>
                        <h4><span>-John Doe /</span>  Director of corlate.com</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img  src="<?= $this->getBaseUrl()?>/www/images/client2.png" class="img-circle" alt="">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h3>
                        <h4><span>-John Doe /</span>  Director of corlate.com</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img  src="<?= $this->getBaseUrl()?>/www/images/client3.png" class="img-circle" alt="">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h3>
                        <h4><span>-John Doe /</span>  Director of corlate.com</h4>
                    </div>
                </div>
           </div>

        </div><!--/.container-->
    </section><!--/#feature-->

