<section id="about-us">
        <div class="container">
       
			<div class="center wow fadeInDown" style="text-align:left">
				<h2 style="text-align:center">WEBSITE DEVELOPMENT</h2>
				<p class="lead" style="font-size: 15px;">If your website/web app's not responsive, you're doing it wrong. We create a dynamic viewing experience for easy reading and navigation. We’ve been making our websites and web apps responsive and adaptive for years now. That’s part of our mobile-first, design-first mantra. We build fast-loading, highly optimized experiences that will work across a wide range of devices. This responsive website is a perfect example. Play with the window size to see what it looks like on mobile screens. We'll be here when you're done.</p>

				<h2 style="text-align:left">Languages</h2>
				<p class="lead" style="font-size: 15px;">The languages primarily used in web development are:</p>
				<ul class="lead" style="font-size: 15px;">
					<li><b>PHP:</b>The PHP Hypertext Preprocessor (PHP) is a programming language that allows web developers to create dynamic content that interacts with databases. This feature of PHP makes it the best bet for developing web based software applications.</li>
					<li><b>HTML 5/CSS:</b>It wouldn’t be entirely incorrect to say that HTML5 is the mother tongue of internet. It is suited for a range of devices, offering multiple application functionality. HTML5’s flexibility for updates and a more logical coding process makes it even better.</li>
					<li><b>JAVA:</b>Java supports a large number of libraries, frameworks and tools (hibernate, lucene, tomcat, eclipse etc), a solid virtual machine and a huge community. It is one of the most robust and oldest languages for web development still in use. The verbose nature of Java gives it a back seat but it is what gives the language, the stability.</li>



			</div>
		</div>
	</section>			