<link rel="stylesheet" href="<?= $this->getBaseUrl() ?>/www/lib/zoom/smoothproducts.css">
    <script src="<?= $this->getBaseUrl() ?>/www/lib/zoom/smoothproducts.js"></script>
   
<div class="wrapper">
                    <div class="container">
                        <div class="row ">

                            <!-- SLIDER -->
                            <div class="span9 slider">
                                <div class="slider-slides">
                                    <div class="slides">
                                        <a href="#"><img src="<?= $this->getBaseUrl() ?>/www/uploads/banner/banner3.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>AWESOME FURNITURE</h1>
                                            <p><span>50%</span> OFF <br/> TRENDY <span>DESIGNS</span> </p>
                                        </div>
                                    </div>
                                    <div class="slides">
                                        <a href="#"><img src="<?= $this->getBaseUrl() ?>/www/uploads/banner/banner4.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>LATEST FASHION</h1>
                                            <p><span>30%</span> OFF <br/> TRENDY <span>DESIGNS</span> </p>
                                        </div>
                                    </div>
                                    <div class="slides">
                                        <a href="#"><img src="<?= $this->getBaseUrl() ?>/www/uploads/banner/banner5.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>AWESOME FURNITUR</h1>
                                            <p><span>50%</span> OFF <br/> TRENDY <span>DESIGNS</span> </p>
                                        </div>
                                    </div>
                                    <div class="slides">
                                        <a href="#"><img src="<?= $this->getBaseUrl() ?>/www/uploads/banner/banner7.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>LATEST FASHION</h1>
                                            <p><span>30%</span> OFF <br/> TRENDY <span>DESIGNS</span> </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="next"></a>
                                <a href="#" class="prev"></a>
                                <div class="slider-btn"></div>
                            </div>
                            <!-- SLIDER -->

                            <!-- SPECIAL-OFFER -->
                            <div class="span3">
                                <div class="offers">
                                    <figure>
                                        <a href="<?= $this->getBaseUrl() ?>/index/list?cat=17"><img src="<?= $this->getBaseUrl() ?>/www/img/furnitureimage/aside6.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>SUMMER<span> COLLECTION 35% OFF</span> <small>  - Limited Offer</small></h1>
                                        </div>
                                    </figure>
                                </div>

                                <div class="offers">
                                    <figure>
                                        <a href="<?= $this->getBaseUrl() ?>/index/list?cat=17"><img src="<?= $this->getBaseUrl() ?>/www/img/furnitureimage/aside2.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>SUMMER<span> COLLECTION 35% OFF</span> <small>  - Limited Offer</small></h1>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <!-- SPECIAL-OFFER -->

                        </div>
                    </div>
                </div>

                <!-- PRODUCT-OFFER -->
                <div class="product_wrap">
                    <div class="container">
                        <div class="row heading-wrap">
                            <div class="span12 heading">
                                <h2>Delivery Information<span></span></h2>
                                 
                                    <p class="content" style="margin-top:25px;padding:50px;box-shadow:1px 1px 2px 1px #ccc; padding-right: 100px;word-spacing: 8px;color:#676060; ">
                                        <b style="color:#676060;font-weight: 600px;">Our Offerings:</b>
                                        We offer wide range of Sheesham Wood furniture for your Home or Office requirements.<br/> The products we offer are:<br/>
                                           - Sheesham Beds<br/>- Solid Wood Bars<br/>- Dining Tables<br/>- Bedside Tables<br/>- Bookshelves<br/>- Solid wood Boxes<br/>
                                        - Sheesham made Chairs<br/>- Chest of Drawers<br/>- Clocks<br/>- Coffee Tables<br/>- Wooden Console (Writing) tables<br/>- Desks<br/>– Home & Office<br/>- Dinning Sets<br/>- Dressers<br/>- Easy Chairs<br/>- Garden Furniture<br/>– Kitchen Cabinets<br/>- Lamp Table<br/>- Mandir/ Temple<br/>- Mirror Frames<br/>- Shoe racks<br/>- Sideboards<br/>- Sofas<br/>- TV units<br/>- Wardrobes
                                    </p>  
                                 

                            </div>
                        </div>
                        
                    </div>
                </div>
                
                    </div>
                </div>
                