<link rel="stylesheet" href="<?= $this->getBaseUrl() ?>/www/lib/zoom/smoothproducts.css">
    <script src="<?= $this->getBaseUrl() ?>/www/lib/zoom/smoothproducts.js"></script>
   
<div class="wrapper">
                    <div class="container">
                        <div class="row ">

                            <!-- SLIDER -->
                            <div class="span9 slider">
                                <div class="slider-slides">
                                    <div class="slides">
                                        <a href="#"><img src="<?= $this->getBaseUrl() ?>/www/uploads/banner/banner3.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>AWESOME FURNITURE</h1>
                                            <p><span>50%</span> OFF <br/> TRENDY <span>DESIGNS</span> </p>
                                        </div>
                                    </div>
                                    <div class="slides">
                                        <a href="#"><img src="<?= $this->getBaseUrl() ?>/www/uploads/banner/banner4.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>LATEST FASHION</h1>
                                            <p><span>30%</span> OFF <br/> TRENDY <span>DESIGNS</span> </p>
                                        </div>
                                    </div>
                                    <div class="slides">
                                        <a href="#"><img src="<?= $this->getBaseUrl() ?>/www/uploads/banner/banner5.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>AWESOME FURNITUR</h1>
                                            <p><span>50%</span> OFF <br/> TRENDY <span>DESIGNS</span> </p>
                                        </div>
                                    </div>
                                    <div class="slides">
                                        <a href="#"><img src="<?= $this->getBaseUrl() ?>/www/uploads/banner/banner7.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>LATEST FASHION</h1>
                                            <p><span>30%</span> OFF <br/> TRENDY <span>DESIGNS</span> </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="next"></a>
                                <a href="#" class="prev"></a>
                                <div class="slider-btn"></div>
                            </div>
                            <!-- SLIDER -->

                            <!-- SPECIAL-OFFER -->
                            <div class="span3">
                                <div class="offers">
                                    <figure>
                                        <a href="<?= $this->getBaseUrl() ?>/index/list?cat=17"><img src="<?= $this->getBaseUrl() ?>/www/img/furnitureimage/aside6.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>SUMMER<span> COLLECTION 35% OFF</span> <small>  - Limited Offer</small></h1>
                                        </div>
                                    </figure>
                                </div>

                                <div class="offers">
                                    <figure>
                                        <a href="<?= $this->getBaseUrl() ?>/index/list?cat=17"><img src="<?= $this->getBaseUrl() ?>/www/img/furnitureimage/aside2.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>SUMMER<span> COLLECTION 35% OFF</span> <small>  - Limited Offer</small></h1>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <!-- SPECIAL-OFFER -->

                        </div>
                    </div>
                </div>

                <!-- PRODUCT-OFFER -->
                <div class="product_wrap">
                    <div class="container">
                        <div class="row heading-wrap">
                            <div class="span12 heading">
                                <h2>About Us<span></span></h2>
                                 
                                    <p class="content" style="margin-top:25px;padding:50px;box-shadow:1px 1px 2px 1px #ccc; padding-right: 100px;word-spacing: 8px;color:#676060; ">
                                        We started our journey from dealing with Wood supply to different vendors and gained a very intensive knowledge about the nature and behaviour of all type of woods.
                                        This is our Love and knowledge of wood that lead us to start serving our respected customer’s furniture demands. Started creating very finished and customized Sheesham furniture products to some of our very respected and happy customers, we have now opened up our first HandiCraft Furniture store in Sirsa (Haryana). It’s being just a couple of years now and looking at our customers happy face and cheerful feedbacks, we are planning to open up our next a couple of showrooms in some major cities to increase our customer’s reach.<br/><br/>
                                        
                                    </p>  
                                 

                            </div>
                        </div>
                        
                    </div>
                </div>
                
                    </div>
                </div>
                