<link rel="stylesheet" href="<?= $this->getBaseUrl() ?>/www/lib/zoom/smoothproducts.css">
    <script src="<?= $this->getBaseUrl() ?>/www/lib/zoom/smoothproducts.js"></script>
   
<div class="wrapper">
                    <div class="container">
                        <div class="row ">

                            <!-- SLIDER -->
                            <div class="span9 slider">
                                <div class="slider-slides">
                                    <div class="slides">
                                        <a href="#"><img src="<?= $this->getBaseUrl() ?>/www/uploads/banner/banner3.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>AWESOME FURNITURE</h1>
                                            <p><span>50%</span> OFF <br/> TRENDY <span>DESIGNS</span> </p>
                                        </div>
                                    </div>
                                    <div class="slides">
                                        <a href="#"><img src="<?= $this->getBaseUrl() ?>/www/uploads/banner/banner4.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>LATEST FASHION</h1>
                                            <p><span>30%</span> OFF <br/> TRENDY <span>DESIGNS</span> </p>
                                        </div>
                                    </div>
                                    <div class="slides">
                                        <a href="#"><img src="<?= $this->getBaseUrl() ?>/www/uploads/banner/banner5.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>AWESOME FURNITUR</h1>
                                            <p><span>50%</span> OFF <br/> TRENDY <span>DESIGNS</span> </p>
                                        </div>
                                    </div>
                                    <div class="slides">
                                        <a href="#"><img src="<?= $this->getBaseUrl() ?>/www/uploads/banner/banner7.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>LATEST FASHION</h1>
                                            <p><span>30%</span> OFF <br/> TRENDY <span>DESIGNS</span> </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="next"></a>
                                <a href="#" class="prev"></a>
                                <div class="slider-btn"></div>
                            </div>
                            <!-- SLIDER -->

                            <!-- SPECIAL-OFFER -->
                            <div class="span3">
                                <div class="offers">
                                    <figure>
                                        <a href="<?= $this->getBaseUrl() ?>/index/list?cat=17"><img src="<?= $this->getBaseUrl() ?>/www/img/furnitureimage/aside6.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>SUMMER<span> COLLECTION 35% OFF</span> <small>  - Limited Offer</small></h1>
                                        </div>
                                    </figure>
                                </div>

                                <div class="offers">
                                    <figure>
                                        <a href="<?= $this->getBaseUrl() ?>/index/list?cat=17"><img src="<?= $this->getBaseUrl() ?>/www/img/furnitureimage/aside2.jpg" alt=""></a>
                                        <div class="overlay">
                                            <h1>SUMMER<span> COLLECTION 35% OFF</span> <small>  - Limited Offer</small></h1>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <!-- SPECIAL-OFFER -->

                        </div>
                    </div>
                </div>

                <!-- PRODUCT-OFFER -->
                <div class="product_wrap">
                    <div class="container">
                        <div class="row heading-wrap">
                            <div class="span12 heading">
                                <h2>Privacy And Policy<span></span></h2>
                                 
                                    <p class="content" style="margin-top:25px;padding:50px;box-shadow:1px 1px 2px 1px #ccc; padding-right: 100px;word-spacing: 8px;color:#676060; ">
                                        For us privacy for our valued customer is very important. We strongly believe that the personal information of our customers should not be shared with the third party without the prior consent or request from the customer. Privacy is the right of an individual and at VintejHome the information of the customer such as contact no., email, addresses etc is used only for the internal purpose and not for sale. Your contact information is stored in our database and is only used to contact you during the course of your stay with us for sharing the status of your room bookings with us and then after for announcement of our latest deals and news etc. We at VintejHome condemn the unauthorised reach and misuse and/or discloser of the personal information of the customer and we have strict guidelines and high security features to prevent the same. Any changes in our ‘Privacy Policy’ will be posted here on the website.<br/><br/> <b style="color:#676060;font-weight: 600px;">SECURE ONLINE PAYMENTS</b>
                                        The visitor on our website please take a note that your name, email address and other personal information submitted on our website may be stored with us and may also appear on the website. Like other platforms our server log files also receives general information such as IP address of the visitor, cookie etc. For the financial transactions by credit card VintejHome uses a 3rd party secure payment gateway provided by “PayU” and the credit card details are ‘not stored’ with VintejHome, instead the information is securely stored and encrypted with Visa/MasterCard.<b style="color:#676060;font-weight: 600px;">Smart Cookies</b>
                                        We use 'Cookies' to keep track of your current shopping session to personalize your experience and so that you may retrieve your shopping cart at any time. 'Cookies' are tiny text files which our Website places on your computer's hard drive to store information about your shopping session and to identify your computer.<br/><br/>
                                        <b style="color:#676060;font-weight: 800px;">Return, Refund and Cancellation Policy</b><br/>
                                        After placing the order customer can cancel the order within 2 hours if he/she wish to. And in case of customer request for Refund, it will be processed through NEFT within 10 working days. Products can be returned within 2 working days from the day of delivery.<br/><br/>
                                        <b style="color:#676060;font-weight: 800px;">Shipping Policy</b>
                                        We usually ship the product within 2 working days after receiving the order.

                                    </p>  
                                 

                            </div>
                        </div>
                        
                    </div>
                </div>
                
                    </div>
                </div>
                