
                <!-- BAR -->
                <div class="bar-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <div class="title-bar">
                                    <h1>MY ORDERS</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BAR -->

                <!-- PRODUCT-OFFER -->
                <div class="product_wrap">

                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <div class="shopping-cart">
                                   <?php foreach($this->dataSet as $key1 => $value) { ?>
                                    <ul class="title clearfix">
                                        
                                        <li style='width:100%;text-align: left;'><a href="" <button="" type="button" style="color:#fff;" class="btn btn-success">Transaction-Id: <?= $value['transaction_id'] ?></a></li>
                                        
                                    </ul>

                                   <ul class=" clearfix" style="height:60px;">
                                        
                                        <li style='width:20%;border-right: 1px solid #fff;'>
                                        <h4>Product Image</h4>  
                                        </li>
                                      <li class="second" style='width:40%;border-right: 1px solid #fff;'>
                                            <h4>Product Name</h4>
                                        </li>
                                        <li style='width:10%;border-right: 1px solid #fff;'>
                                            <h4>Unit Price</h4>
                                        </li>
                                        <li style='width:13%;border-right: 1px solid #fff;'>
                                            <h4>Total Price</h4>
                                        </li>
                                           
                                         
                                    </ul> 
                                    
                                   <ul class=" clearfix" >
                                        <?php foreach($value['sales-product'] as $key2 => $value2) {
                                        $total = $value2['unit_price'] * $value2['quantity'];
                                        ?>
                                        <li style='width:20%;border-right: 1px solid #fff;'>
                                          <figure><img src="<?=$this->getBaseUrl()?>/www/uploads/products/<?= $value2['image'] ?>" alt="No image" style="width: 90px; height: 90px;" ></figure>
                                        </li>
                                        <li class="second" style='width:40%;border-right: 1px solid #fff;''>
                                          <h4 style='overflow: auto'><a href="<?= $this->getBaseUrl()?>/productdetails/index?productid=<?= $value2['product_id'] ?>"><?= $value2['product_name'] ?></a></h4>
                                          <p><span style="font-weight:600;">Color:</span> <?= $value2['color'] ?> &nbsp; &nbsp;<span style="font-weight:600;">Quantity:</span> <?= $value2['quantity'] ?></p>
                                            
                                        </li>
                                        <li style='width:10%;border-right: 1px solid #fff;''>
                                            <p><span>Rs.</span><?= $value2['unit_price'] ?></p>
                                        </li>
                                        <li style='width:13%;border-right: 1px solid #fff;''>
                                            <p><span>Rs.</span><?= $total ?></p>
                                        </li>
                                           
                                        <?php } ?> 
                                    </ul>
                                   
                                    <ul class="title clearfix" style='background-color: #f0f0f0;'>
                                       
                                        <li style='text-align: left;margin-left:10px;'><p><span style="font-weight:600;">Date:</span><?= $value['transaction_time'] ?></p></li>
                                        <li style='float:right;width:25%;'><p><span style="font-weight:600;">Total Order:Rs.</span><?= $value['net_amount'] ?></p></li>

                                        
                                    </ul>
                                    
                                    <?php } ?>
                                    <div >
                               <!--  <div class="black">
                                    Subtotal:
                                    Grand total:
                                </div> 
                              <div class="gray">
                                    $1475
                                    $1475.00
                                </div> 
                                <a href="checkout/" class="red-button">Proceed to Checkout</a>
                                </div>
                                  <a href="#" class="red-button">Continue Shopping</a>
                                    <a href="#" class="red-button black">Update Shopping Cart</a> -->

                                </div>
                            </div>

                             

                        </div>
                    </div>
                </div>
                <!-- PRODUCT-OFFER -->
<!--                
                 <?php 
                                   
                                    foreach($this->dataSet as $key1 => $value) { 
                                   
                                    ?>
                                    <ul class="title clearfix">
                                        <li style='width:100%;text-align: left;'><a href="" style='color:#F9F9F9;' <button="" type="button" class="btn btn-success"><?= $value['transaction_id'] ?></a></li>
                                        
                                    </ul>
                                    
                                    <ul class=" clearfix">
                                        <?php foreach($value['sales-product'] as $key2 => $value2) { ?>
                                        <li>
                                           <?= $value2['image'] ?>
                                        </li>
                                        <li class="second">
                                          <h4 style='overflow: auto'><a href="<?= $this->getBaseUrl()?>/productdetails/index?productid=<?= $value2['product_id'] ?>"><?= $value2['product_name'] ?></a></h4>
                                          <p><span>Color:</span> <?= $value2['color'] ?> &nbsp; &nbsp;<span>Color:</span> <?= $value2['quantity'] ?></p>
                                            
                                        </li>
                                        <li>
                                            <p><span>Rs.</span><?= $value['net_amount'] ?></p>
                                        </li>
                                        <li  style='overflow-y:auto; '>
                                            
                                            
                                              <p><?= $value2['product_name'] ?> </p>
                                                
                                        </li>
                                        <li>
                                         
                                        </li>
                                        
                                        <?php } ?>
                                        
                                    </ul>
                                    <ul class="title clearfix">
                                       
                                        <li style='text-align: left;'><p><span>Date:</span><?= $value['transaction_time'] ?></p></li>
                                        <li style='text-align: right;float:right'><p><span>Total Order:</span><?= $value['net_amount'] ?></p></li>
                                        
                                    </ul>
                                    <?php } ?>-->