
                <!-- BAR -->
                <div class="bar-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <div class="title-bar">
                                    <h1>SHOPPING CART</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BAR -->

                <!-- PRODUCT-OFFER -->
                <div class="product_wrap">

                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <div class="shopping-cart">

                                    <ul class="title clearfix">
                                        <li>Image</li>
                                        <li class="second">Product Name</li>
                                        <li>Quantity</li>
                                        <li>Unite Price</li>
                                        <li>Sub Total</li>
                                        <li class="last">Action</li>
                                    </ul>
                                    <?php 
                                     $subTotal = 0;
                                    foreach($this->dataSet as $key => $value) { 
                                    $total = $value['unit_price'] * $value['quantity'];
                                    $subTotal += $total;
                                    ?>
                                    <ul class=" clearfix">
                                        <li>
                                            <figure><img src="<?=$this->getBaseUrl()?>/www/uploads/products/<?= $value['image'] ?>" alt="No image" style="width: 150px; height: 66px;" ></figure>
                                        </li>
                                        <li class="second">
                                            <h4><?= $value['product_name'] ?></h4>
                                            <p><span>Color:</span> <?= $value['color'] ?></p>
                                            <p><span>Size:</span> 12</p>
                                        </li>
                                        <li> <form action="<?= $this->getBaseUrl().'/shopping-cart/update-cart?id='.$value['cart_id'] ?>" method="post" name="update_cart">
                                            <input type="number" onChange="this.form.submit();" name="quantity" value="<?= $value['quantity'] ?>">
                                            </form>
                                        </li>
                                        <li><?= $value['unit_price'] ?></li>
                                        <li><?= $total  ?></li>
                                        <li><form method="get" action="<?= $this->getBaseUrl() ?>/shopping-cart/remove">
                                        <input type="hidden" name="id" value="<?= $value['cart_id']?>"> <button type="submit">X</button></form></li>
                                    </ul>
                                    <?php } ?>
                                    <div >
                               <!--  <div class="black">
                                    Subtotal:
                                    Grand total:
                                </div> 
                              <div class="gray">
                                    $1475
                                    $1475.00
                                </div> 
                                <a href="checkout/" class="red-button">Proceed to Checkout</a>
                                </div>
                                  <a href="#" class="red-button">Continue Shopping</a>
                                    <a href="#" class="red-button black">Update Shopping Cart</a> -->

                                </div>
                            </div>

                             <div class="span7 cart-calculator total">
                                <ul class="black">
                                    <li>Subtotal:</li>
                                    <li>Grand total:</li>
                                </ul>
                                <ul class="gray">
                                    <li><?= $subTotal ?></li>
                                    <li><?= $subTotal ?></li>
                                </ul>
                               
                            </div>
                            <div class="span4">
                                 <a href="<?= $this->getBaseUrl() ?>/checkout" class="red-button" style="float:right">Proceed to Checkout</a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- PRODUCT-OFFER -->