

<!-- BAR -->
<div class="bar-wrap">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="title-bar">
                    <h1>MY PROFILE</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BAR -->

<!-- PRODUCT-OFFER -->
<div class="product_wrap">

    <div class="container">
        <div class="row">
            <div class="span12">

                <div id="check-accordion">

                    <h5><small>Welcome</small><a href="#"> User</a></h5>

                    <div class="clearfix">
                        <div  class="span2 profile clearfix">
                            <ul class="nav navbar-nav">
                                
                                <li ><a class="active" href="<?=$this->getBaseUrl()?>/profile/index">
                                        <span class="menu-title">My Profile</span>
                                        <span class="menu-subtitle">Your name, phone no., password</span>
                                    </a></li>

                                <li><a href="<?=$this->getBaseUrl()?>/profile/myaddress">
                                        <span class="menu-title">My address book</span>
                                        <span class="menu-subtitle">Add, edit addresses</span>

                                    </a></li>
                            </ul>

                        </div>

                        <div class="span9 clearfix register">
                            <h6>My Profile Information</h6>
                            <form class="clearfix" method="post"   >
                                <label>Your Name</label>
                                <input type="text" name="name" style="height: 35px;" placeholder="name" value="<?=$this->auth_user['name']?>"><br/>
                                <label>Mobile</label>
                                <input type="number" name="phone" value="<?=$this->auth_user['phone']?>" placeholder="Mobile Number"><br/>
                                <input type="submit" value="Update Details">
                            </form>
                            <h6>Change Password</h6>
                            <form class="clearfix">
                                <label>Old Password</label>
                                <input type="password" placeholder="old password"><br/>
                                <label>New Password</label>
                                <input type="password" placeholder="new password"><br/>
                                <label>Confirm Password</label>
                                <input type="password" placeholder="Confirm password"><br/>
                                <input type="submit" value="Update Password">
                            </form>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- PRODUCT-OFFER -->
