
<!-- BAR -->
<div class="bar-wrap">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="title-bar">
                    <h1>MY PROFILE</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BAR -->

<!-- PRODUCT-OFFER -->
<div class="product_wrap">

    <div class="container">
        <div class="row">
            <div class="span12">

                <div id="check-accordion">

                    <h5><small>Welcome</small><a href="#"> User</a></h5>

                    <div class="clearfix">
                        <div  class="span2 profile clearfix">
                            <ul class="nav navbar-nav">

                                <li ><a  href="<?=$this->getBaseUrl()?>/profile/index">
                                        <span class="menu-title">My Profile</span>
                                        <span class="menu-subtitle">Your name, phone no., password</span>
                                    </a></li>

                                <li><a class="active" href="<?=$this->getBaseUrl()?>/profile/myaddress">
                                        <span class="menu-title">My address book</span>
                                        <span class="menu-subtitle">Add, edit addresses</span>

                                    </a></li>
                            </ul>

                        </div>
                    
                        <div class="span9 address_data">
                            <?php foreach( $this->dataSet['addressList'] as $key => $value ) { 
                           
                            ?>
                          <div id="" class="address_inner">
                           <div class="address-card">
                               <div class='row'>
                               <div class="span4 address-card-panel">
                                    <p><?= $value['name'] ?></p>
                                    <p><?= $value['house_no'].','.$value['area'] ?></p>
                                     <p><?= $value['city'] ?></p>
                                      <p><?= $value['state'] ?></p>
                                       <p><?= $value['pincode'] ?></p>
                                       <br>
                                         <p><?= $value['phone'] ?></p>
                                </div> 
                                <div class="span4" >
                                    <a href="<?=$this->getBaseUrl()?>/profile/editaddress?id=<?= $value['id'] ?>" >Edit </a><span class="separator">|</span>
                                    <a href="<?=$this->getBaseUrl()?>/profile/deleteaddress?id=<?= $value['id'] ?>" >Delete</a>
                                
                                  <button type="button" style="float:right;" class="btn btn-info">Make Primary</button>
                              </div>
                               </div>
                            </div>
                              
                              </div>
                            <?php } ?>
                            <a href="<?=$this->getBaseUrl()?>/profile/editaddress" <button type="button" class="btn btn-success">Add New Address</button></a>
                        </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
pt>