
                <!-- BAR -->
                <div class="bar-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <div class="title-bar">
                                    <h1>CHECKOUT</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BAR -->

                <!-- PRODUCT-OFFER -->
                <div class="product_wrap">

                    <div class="container">
                        <div class="row">
                            <div class="span12">

                                <div id="check-accordion">
                                    <h5><small>STEP 1</small><a href="#">Shipping Address</a></h5>

                                    <div class=" clearfix">
                                       
                                         <form class="clearfix address_form"  method="post">
                                <label>Addressee Name</label>
                                <input type="text" name="name" value="<?= isset($this->dataSet['addressList']['name']) ? $this->dataSet['addressList']['name']: '' ?>" style="height: 35px; width: 400px;" placeholder="your name" required><br/>
                                <label>Contact Number</label>
                                <input type="number" name="phone" style="height: 35px; width: 400px;" placeholder="Mobile Number" required value="<?= isset($this->dataSet['addressList']['phone']) ? $this->dataSet['addressList']['phone']: '' ?>"><br/>
                                <label>Address</label>
                                <input type="text" name="address" style="height: 35px; width: 400px;"  id="address1" placeholder="Eg. Rohini sector 15 , Delhi"  ><br/>
                                <label>House No.</label>
                                <input type="text" name="house_no" style="height: 35px; width: 400px;" id="street1" placeholder="Eg. Ground Floor , E-55" value="<?= isset($this->dataSet['addressList']['house_no']) ? $this->dataSet['addressList']['house_no']: '' ?>" ><br/>
                                <label>Area/Street</label>
                                <input type="text" name="area" style="height: 35px; width: 400px;" id="area1" placeholder="Area" value="<?= isset($this->dataSet['addressList']['area']) ? $this->dataSet['addressList']['area']: '' ?>"><br/>
                                <label>City</label>
                                <input type="text" name="city" style="height: 35px; width: 400px;" id="city1" placeholder="City" required value="<?= isset($this->dataSet['addressList']['city']) ? $this->dataSet['addressList']['city']: '' ?>"><br/>
                                <label>State</label>
                                <input type="text" name="state" style="height: 35px; width: 400px;" id="state1" placeholder="State" required value="<?= isset($this->dataSet['addressList']['state']) ? $this->dataSet['addressList']['state']: '' ?>"><br/>
                                <label>Pincode</label>
                                <input type="number" name="pincode" style="height: 35px; width: 400px;" id="pincode1" placeholder=" Area Pincode" required value="<?= isset($this->dataSet['addressList']['pincode']) ? $this->dataSet['addressList']['pincode']: '' ?>"><br/>
                                <input type="submit" value="Submit" id="submit_click""/>
<!--<button id="login_register_btn" type="button" class="btn btn-link">Register</button>-->
                            </form>
                                        
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- PRODUCT-OFFER -->
                <script src="<?= $this->getBaseUrl() ?>/www/js/jquery-1.9.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8HdkhY4Iy8jo4bM0uIJVnaekAw7A0Xm8&libraries=visualization&libraries=places" ></script>
<script type="text/javascript">

    var placeSearch, autocomplete;
    var componentForm = {
        address_components:'long_name',
        state:'short_name',
        address:'short_name',
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        sublocality_level_1: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {

        autocomplete = new google.maps.places.Autocomplete((document.getElementById('address1')), {types: ['geocode']});
        autocomplete.addListener('place_changed', fillInAddress);
        console.log('init fun');
    }

    function fillInAddress()
    {
        var address;
        var sublocality_level_2;
        var place = autocomplete.getPlace();
        var lat = place.geometry.location.lat(),
        lng = place.geometry.location.lng();
        geocoder = new google.maps.Geocoder();
        latLong = {lat: lat, lng: lng}; // gets the latitude and longitude 
        geocoder.geocode({'latLng': latLong}, function(results, status)  // now get the address from lat long
        {
            if (status == google.maps.GeocoderStatus.OK) {
                project_full_address = results[0]['formatted_address'];
                console.log(results[0]);
                $.each(results[0]['address_components'], function(key, component)
                {
                    if (component.types[0] == 'route' || component.types[0] == 'locality')
                    {
                        if (address) {
                            address += ',' + component.long_name;
                        }else{
                            address = component.long_name;
//                            console.log(address);
                          
                         }
                    }
                   
                    if (component.types[0] == 'sublocality_level_2') {
                        sublocality_level_2 = component.long_name;
                        console.log(sublocality_level_2);
//                         $('#area1').val(','+sublocality_level_2);
                    }
                    if (component.types[0] == 'sublocality_level_1') {
                        sublocality_level_1 = component.long_name;
                        if(sublocality_level_2){
                        $('#area1').val(sublocality_level_2+','+sublocality_level_1);
                        }
                        else{
                            $('#area1').val(','+sublocality_level_1);
                        }
                    }
                    if (component.types[0] == 'locality') {
                        locality = component.long_name;
                        $('#city1').val(locality);
                    }
                    if (component.types[0] == 'postal_code') {
                        zip = component.long_name;
//                        console.log(zip);
                        $('#pincode1').val(zip);
                    }
                    if (component.types[0] == 'administrative_area_level_2') {
                        city = component.long_name;
                         
                    }
                    if (component.types[0] == 'administrative_area_level_1') {
                        state = component.long_name;
                         $('#state1').val(state);
                    }

                });

              
            }
        });
    }

    $(document).ready(function() {
        console.log('here ready ');
//        alert();
        
        initAutocomplete();
        $('#address1').on('blur', function() {
            console.log('here blur ');
        });


    });

</script>