
                <!-- BAR -->
                <div class="bar-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <div class="title-bar">
                                    <h1>CHECKOUT</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BAR -->

                <!-- PRODUCT-OFFER -->
                <div class="product_wrap">

                    <div class="container">
                        <div class="row">
                            <div class="span12">

                                <div id="check-accordion">

                                    

                                    <h5><small>STEP 3</small><a href="#">Confirm Orders</a></h5>

                                    <div class="clearfix">
                                        <div class="billing">
                                            <p>Please select the preferred payment method to use on this order.</p>
                                            <ul class="title">
                                                <li style="width:40% ">Product Name Here</li>
                                                <li>Quantity</li>
                                                <li>Price</li>
                                                <li class="last">Total (Price * qty)</li>
                                            </ul>
                                   <?php 
                                     $subTotal = 0;
                                    foreach($this->dataSet as $key => $value) { 
                                    $total = $value['unit_price'] * $value['quantity'];
                                    $subTotal += $total;
                                   ?>
                                            <ul>
                                                <li style="width:40% "><?= $value['product_name'] ?></li> 
                                                <li><?= $value['quantity'] ?></li>
                                                <li><?= $value['unit_price'] ?></li>
                                                <li class="last"><?= $total?></li>
                                            </ul>
                                    <?php } ?>

                                           

                                            <div class="totle">
                                                <ul>
                                                    <li>Sub-Total: <span><?= $total?></span></li>
<!--                                                    <li>Flat Shipping Rate: <span>$27.00</span></li>
                                                    <li>Eco Tax (-2.00): <span>$27.00</span></li>
                                                    <li>VAT (17.5%):	 <span>$27.00</span></li>
                                                    <li>Total: <span>$27.00</span></li>-->
                                                </ul>
                                                <a class="red-button" href="success">Confirm Order</a>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PRODUCT-OFFER -->
