
<!-- BAR -->
<div class="bar-wrap">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="title-bar">
                    <h1>CHECKOUT</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BAR -->

<!-- PRODUCT-OFFER -->
<div class="product_wrap">

    <div class="container">
        <div class="row">
            <div class="span12">

                <div id="check-accordion">
                    <h5><small>STEP 1</small><a href="#">Select Shipping Address</a></h5>

                    <div class=" clearfix">

                        <div class="span9 address_data">
                            
                           <?php foreach( $this->dataSet['addressList'] as $key => $value ) { 
                           
                            ?>
                          <div id="" class="address_inner">
                           <div class="address-card">
                               <div class='row'>
                               <div class="span4 address-card-panel">
                                    <p><?= $value['name'] ?></p>
                                    <p><?= $value['house_no'].','.$value['area'] ?></p>
                                     <p><?= $value['city'] ?></p>
                                      <p><?= $value['state'] ?></p>
                                       <p><?= $value['pincode'] ?></p>
                                       <br>
                                         <p><?= $value['phone'] ?></p>
                                </div> 
                                <div class="span4" >
                                    <a href="<?=$this->getBaseUrl()?>/profile/editaddress?id=<?= $value['id'] ?>&checkout=true" >Edit </a><span class="separator">|</span>
                                    <a href="<?=$this->getBaseUrl()?>/profile/deleteaddress?id=<?= $value['id'] ?>&checkout=true" >Delete</a>
                                
                                  <a href="<?=$this->getBaseUrl()?>/checkout/payment?add_id=<?= $value['id'] ?>&checkout=true" ><button type="button" style="float:right;" class="btn btn-info">Deliver here</button></a>
                              </div>
                               </div>
                            </div>
                              
                              </div>
                            <?php } ?>
                            
                          
                            <a href="<?=$this->getBaseUrl()?>/profile/editaddress?checkout=true" <button type="button" class="btn btn-success">Add New Address</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- PRODUCT-OFFER -->









