
                <!-- BAR -->
                <div class="bar-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <div class="title-bar">
                                    <h1>CHECKOUT</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BAR -->

                <!-- PRODUCT-OFFER -->
                <div class="product_wrap">

                    <div class="container">
                        <div class="row">
                            <div class="span12">

                                <div id="check-accordion">

                                    

                                    <h5><small>STEP 2</small><a href="#">Payment Methods</a></h5>

                                    <div class="clearfix">
                                        <div class=" payment">
                                            <p>Please select the preferred payment method to use on this order.</p>

                                            <form method="post" action="<?= $this->postedData['action']; ?>">
                                                <div class="radio-btn">
                                                    <input type="radio"  name="payment" value="cash" checked/>
                                                    <label>Cash On Delivery</label>
                                                </div>
                                                 <div class="radio-btn">
                                                     <input type="radio" name="payment" value="payumoney" />
                                                     <label>Payumoney</label>
                                                </div>
                                                <div class="radio-btn">
                                                    <input type="radio" name="payment" value="credit" />
                                                    <label>Credit Card</label>
                                                </div>
                                                <div class="radio-btn">
                                                    <input type="radio" name="payment" value="debit" />
                                                    <label>Debit Card</label>
                                                </div>
                                                <div class="radio-btn">
                                                    <input type="radio" name="payment" value="internet"/>
                                                    <label>Internet Banking</label>
                                                </div>
                                                
                                              <!--<span>₹ 255.99</span> <span>Total Amount</span>-->  
                                              <input type="hidden" name="address" value="<?= $_GET['address-id'] ?>">
                                              
                                              <input type="hidden" name="key" value="<?= $this->postedData['key']; ?>" />
                                              <input type="hidden" name="txnid" value="<?= $this->postedData['txnid']; ?>" />
                                            <input type="hidden" name="amount" value="<?= $this->postedData['amount']; ?>"/>
                                            <input type="hidden" name="firstname" value="<?= $this->postedData['firstname']; ?>" />
                                            <input type="hidden" name="address1" value="<?= $this->postedData['address_id']; ?>" />
                                            
                                            <input type="hidden" name="phone" value="<?= $this->postedData['phone']; ?>"/>
                                            <input type="hidden" name="email" value="<?= $this->postedData['email']; ?>"/>
                                            <input type="hidden" name="productinfo" value="<?= $this->postedData['productinfo']; ?>" />
                                            <input type="hidden" name="surl" value="<?= $this->postedData['surl']; ?>" />
                                            <input type="hidden" name="furl" value="<?= $this->postedData['furl']; ?>"/>
                                            <input type="hidden" name="hash" value="<?= $this->postedData['hash']; ?>"/>
                                            <input type="hidden" name="service_provider" value="<?= $this->postedData['service_provider']; ?>" />

                                              <input type="submit" value="continue" class="red-button">
                                                  
                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PRODUCT-OFFER -->
