
                <!-- BAR -->
                <div class="bar-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <div class="title-bar">
                                    <h1>CHECKOUT</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BAR -->

                <!-- PRODUCT-OFFER -->
                <div class="product_wrap">

                    <div class="container">
                        <div class="row">
                            <div class="span12">

                                <div id="check-accordion">

                                    <div class="message-alert alert-success ">
						<div class="alert-icon-wrapper comp-error-icon-blue  error-icon">
                                                    <i style="font-size: 30px; color: #19BC9B ;font-weight:600 "  >✓</i>
						</div>
						<button class="close" type="button">
							<i class="sd-icon sd-icon-delete-sign"></i>
						</button>
						<div class="alert-text-wrapper " style="background: #19bc9c !important; color:#fff">
							<h3 class="alert-heading"  style="background: #19bc9c !important; color:#fff">Thank You rajendra dubey! </h3>
							<p class="alert-text">Your order ( Order ID: 13189702343 ) has been placed successfully.</p>
                            </div>
					</div>
  

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PRODUCT-OFFER -->
