<?if ($this->code==404):?>
	<h1>Page Not Found</h1>
	<div class="clear"></div>
	Requested page is not available.
<?else:?>
	<h1>Something went wrong</h1>
	<div class="clear"></div>
	Sorry for the inconvinence, please try again later.
<?endif?>
