<link rel="stylesheet" href="<?= $this->getBaseUrl() ?>/www/lib/zoom/smoothproducts.css">
   
                <!-- BAR -->
                <div class="bar-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <div class="title-bar">
                                    <!-- <h1>JACKETS</h1> -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="span12">
                                <div class="sorting-bar clearfix">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BAR -->

                <!-- PRODUCT-OFFER -->
                <div class="product_wrap">

                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <div class="single clearfix">
                                    <div class="wrap span7">
                                            <div class="sp-loading"><img src="<?= $this->getBaseUrl() ?>/www/images/sp-loading.gif" alt=""><br>LOADING IMAGES</div>
                                             <div class="sp-wrap">
                                               <?php foreach($this->dataSet['product_image'] as $key => $image) { ?>
       
            <a href="<?= $this->getBaseUrl() ?>/www/uploads/products/<?= $image['image'] ?>"><img src="<?= $this->getBaseUrl() ?>/www/uploads/products/<?= $image['image'] ?>" alt=""></a>
                                                <?php } ?>
                                                 </div>
                                    </div>

                                    <div class="span5">
                                        <div class="product-detail">
                                            <h4><?= $this->dataSet['product_name'] ?></h4>
                                            <span>Rs. <?= $this->dataSet['unit_price'] ?></span>
                                            
                                        </div>
                                        <div class="product-type clearfix">
<!--                                            <div>
                                                <label>Select Size</label>
                                                <select>
                                                    <option>XXS</option>
                                                </select>
                                            </div>-->

                                            <div>
                                                <label> Select Quantity</label>
                                                <select>
                                                    <option>1</option>
                                                     <option>2</option>
                                                      <option>3</option>
                                                </select>
                                            </div>

<!--                                            <div class="color">
                                                <label>Color</label>
                                                <select>
                                                    <option>Dark Blue</option>
                                                </select>
                                            </div>-->
                                        </div>

                                        <div class="buttons">
                                            <!-- <a href="#" class="wish big-button">Add to Wishlist</a> -->
                                            <a href="#" onclick="addToCart(<?= $this->dataSet['product_id'] ?>)" class="cart big-button">Add to Cart</a>
                                            <a href="#" class="compare big-button">Add to Compare</a>
                                        </div>
                                    </div>
                                </div>

                                <div id="product_tabs">
                                    <ul class="clearfix">
                                        <li><a href="#tabs-1">Product Details</a></li>
                                        <li><a href="#tabs-2">Overview</a></li>
                                        <li><a href="#tabs-3">Features</a></li>
                                    </ul>
                                    <!--TABS-->
                                    <div id="tabs-1" class="tab" >
                                        <p><?= $this->dataSet['details'] ?><br>
                                        SKU :<?= $this->dataSet['sku'] ?></p>
                                    </div>

                                    <div id="tabs-2" class="tab" >
                                        <p><?= $this->dataSet['overview'] ?></p>
                                    </div>

                                    <div id="tabs-3" class="tab" >
                                        <p><?= $this->dataSet['features'] ?></p>
                                    </div>

                                </div>

                            </div>

<!--                            <div class="span3">
                                <div id="sidebar">
                                    <div class="widget">
                                        <h4>CATEGORIES</h4>

                                        <div id="accordion">
                                            
                                    <?php foreach($this->categoryList as $key => $value )
                                    {
                                    
                                    if($value['subcategory']==1){
                                    $category_id=$value['id'];
                                    ?>
                                            
                                            <h5><a href="<?= $this->getBaseUrl() ?>/index/list?cat=<?= $value['id'] ?>"><?= $value['category_name'] ?> </a></h5>
                                            <div>
                                                <ul>
                                                <?php foreach($this->categoryList as $key => $value )
                                                    if($value['parent_id']==$category_id){
                                                    ?>
                                                    <li><a href="<?= $this->getBaseUrl() ?>/index/list?cat=<?= $value['id'] ?>"><?= $value['category_name'] ?></a></li>
                                                    
                                                    <?php  } ?>
                                                   
                                                </ul>
                                            </div>
                                            
                                        <?php  }} ?>

                                        </div>

                                    </div>

                                    <div class="widget">
                                        <h4>Price Filter</h4>

                                        <div class="price-range">
                                            <div id="slider-range"></div>
                                            <p class="clearfix">
                                                <input type="text" id="amount" />
                                                <input type="text" id="amount2" />
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            -->
                            
                        </div>
                    </div>
                </div>
                <!-- PRODUCT-OFFER -->
  <script src="<?= $this->getBaseUrl() ?>/www/lib/zoom/smoothproducts.js"></script>
<script type="text/javascript">
    /* wait for images to load */
    $(window).load(function() {
        $('.sp-wrap').smoothproducts();
    });
    </script>